<div class="col-12">
  <h1>{{translator.getSentence('loans-upper')}}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../"></a></li>
    <li class="breadcrumb-item active">{{translator.getSentence('loans-list')}}</li>
  </ol>
</div>
<div class="col-12">
  <div class="d-flex flex-wrap">
    <div routerLink="add" class="card add mx-2 mt-2">
      <div class="round">
        <span class="material-symbols-outlined">
          ADD
        </span>
      </div>
    </div>
    <app-lending-card *ngFor="let lending of lendings" [lending]="lending"></app-lending-card>

  </div>
</div>