@font-face {
  font-family: 'Montserrat Regular';
  src: url('../../../assets/polices/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  src: url('../../../assets/polices/Montserrat/Montserrat-SemiBold.ttf');
}


  $primary: #3173B9;
  .card.add {
    margin: 33px;
    height: 40vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    .round {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: gray 1px solid;
      border-radius: 50%;
      span {
        color: $primary
      }
    }
    &:hover {
      cursor: pointer;
    }
  }


@media (min-width: 768px) {

  .text {
    padding-bottom: -1em;
    display:block!important;
  }


}
