<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('dashboard-upper')}}</h1>
      <p class="lead">{{translator.getSentence('lyon-ynov-campus')}}</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="cart" *ngIf="authService.isAdmin()">
        <div class="cart-title">
          <span>{{translator.getSentence('lasts-users')}}</span>
          <a routerLink="users" type="button" class="btn btn-success">{{translator.getSentence('see-all')}}</a>
        </div>
        <div class="cart-content" *ngIf="(users | async) as users">
          <div class="user-item" *ngFor="let user of users">
            <div class="item-image-profile">
              <img src="assets/images/user-profile.png" alt="">
            </div>
            <div class="data-side">
              <div class="user-ref"><span class="user-name">{{ user.firstName }} {{ user.lastName }}</span> - <span
                  class="user-email">{{ user.email }}</span></div>
              <div class="nb-lendings" *ngIf="user.nbLendings">{{translator.getSentence('loans-show')}} {{ user.lendings
                }}</div>
              <div class="nb-lendings" *ngIf="!user.nbLendings">{{translator.getSentence('loans-show')}} 0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('equipments-upper')}}</span>
          <a routerLink="equipments/add" type="button" class="btn btn-success"
            *ngIf="authService.isAdmin()">{{translator.getSentence('add-upper')}}</a>
          <a routerLink="equipments" type="button" class="btn btn-success"
            *ngIf="!authService.isAdmin()">{{translator.getSentence('see-all')}}</a>
        </div>
        <div class="cart-content" *ngIf="(equipments | async) as equipments">
          <div class="equipment-item" *ngFor="let equipment of equipments">
            <div class="item-image-profile">
              <img *ngIf="equipment.image" src="{{restBaseUri + equipment.image.contentUrl}}" alt="">
            </div>
            <div class="data-side">
              <div class="item-name">{{ equipment.name }}</div>
            </div>
            <div class="action-side">
              <a routerLink="equipments/{{ equipment.id }}" type="button"
                class="btn btn-primary btn-sm mr-2">{{translator.getSentence('see-upper')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="cart" *ngIf="authService.isAdmin()">
        <div class="cart-title">
          <span>{{translator.getSentence('loans-upper')}}</span>
          <a href="lendings/add" class="btn btn-success">{{translator.getSentence('add-upper')}}</a>
        </div>
        <div class="cart-content">
          <div *ngIf="(lendingsNotAccepted | async) as lendingsNotAccepted">
            <div class="lending-item" *ngFor="let lending of lendingsNotAccepted">
              <div class="item-icon">
                <fa-icon *ngIf="lending.entity" [icon]="faCube" class="item-icon"></fa-icon>
                <fa-icon *ngIf="lending.consumable" [icon]="faScrewdriver" class="item-icon"></fa-icon>
              </div>
              <div class="data-side">
                <div *ngIf="lending.entity" class="item-name">{{ lending.entity.equipment.name }} <span
                    class="entity-id">REF {{ lending.entity.reference }}</span></div>
                <div *ngIf="lending.consumable" class="item-name">{{ lending.lendingQuantity }}x {{
                  lending.consumable.name }}</div>
                <div class="user-name">
                  <span *ngIf="lending.userLending">{{ lending.userLending.firstName }} {{ lending.userLending.lastName
                    }}</span>
                </div>
              </div>
              <div class="action-side">
                <a routerLink="lendings/{{lending.id}}"
                  class="btn btn-primary btn-sm">{{translator.getSentence('see-upper')}}</a>
              </div>
            </div>
          </div>
          <div *ngIf="(lendingsNotReturned | async) as lendingsNotReturned">
            <div class="lending-item" *ngFor="let lending of lendingsNotReturned">
              <div class="item-icon">
                <fa-icon *ngIf="lending.entity" [icon]="faCube" class="item-icon"></fa-icon>
                <fa-icon *ngIf="lending.consumable" [icon]="faScrewdriver" class="item-icon"></fa-icon>
              </div>
              <div class="data-side">
                <div *ngIf="lending.entity" class="item-name">{{ lending.entity.equipment.name }} <span
                    class="entity-id">REF {{ lending.entity.reference }}</span></div>
                <div *ngIf="lending.consumable" class="item-name">{{ lending.lendingQuantity }}x {{
                  lending.consumable.name }}</div>
                <div class="user-name">
                  <span *ngIf="lending.userLending">{{ lending.userLending.firstName }} {{ lending.userLending.lastName
                    }}</span>
                </div>
              </div>
              <div class="action-side">
                <a routerLink="lendings/{{lending.id}}"
                  class="btn btn-primary btn-sm">{{translator.getSentence('see-upper')}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('consumables-upper')}}</span>
          <a routerLink="consumables/add" type="button" class="btn btn-success"
            *ngIf="authService.isAdmin()">{{translator.getSentence('add-upper')}}</a>
          <a routerLink="consumables" type="button" class="btn btn-success"
            *ngIf="!authService.isAdmin()">{{translator.getSentence('see-all')}}</a>
        </div>
        <div class="cart-content" *ngIf="(consumables | async) as consumables">
          <div class="consumable-item" *ngFor="let consumable of consumables">
            <div class="item-image-profile">
              <img *ngIf="consumable.image" src="{{restBaseUri + consumable.image.contentUrl}}" alt="">
            </div>
            <div class="data-side">
              <div class="item-name">{{ consumable.name }}</div>
            </div>
            <div class="action-side">
              <a routerLink="consumables/{{ consumable.id }}" type="button"
                class="btn btn-primary btn-sm mr-2">{{translator.getSentence('see-upper')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">

    </div>
  </div>
</div>