<div class="container-fluid" *ngIf="lending">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('return-loan')}} #{{ lending.id }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="lendings">{{translator.getSentence('loans-list')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('return-loan')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-content p-4">
          <form [formGroup]="returnLendingForm">
            <div class="form-group" *ngIf="lending.entity">
              <label for="entity">{{translator.getSentence('entity-upper')}}</label>
              <input class="form-control" type="text" id="entity" name="entity" readonly
                value="{{ lending.entity.equipment.name }}">
            </div>
            <div class="form-group" *ngIf="lending.consumable">
              <label for="consumable">{{translator.getSentence('consumable-upper')}}</label>
              <input class="form-control" type="text" id="consumable" name="consumable" readonly
                value="{{ lending.consumable.name }}">
            </div>
            <div class="row pt-2">
              <div class="col">
                <div class="form-group pt-2" *ngIf="lending.consumable">
                  <label for="lendingQuantity">{{translator.getSentence('borrowed-quntity')}}</label>
                  <input type="number" id="lendingQuantity" formControlName="lendingQuantity" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group pt-2" *ngIf="lending.consumable">
                  <label for="returnQuantity">{{translator.getSentence('returned-quantity')}}</label>
                  <input type="number" id="returnQuantity" formControlName="returnQuantity" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="userReturn">{{translator.getSentence('user-return-loan')}}</label>
              <ng-select2 [data]="usersSelect" [value]="userDefaultValue" width="100%" id="userReturn"
                formControlName="userReturn"></ng-select2>
            </div>
            <div class="row pt-2">
              <div class="col">
                <div class="form-group">
                  <label>{{translator.getSentence('loan-date')}}</label>
                  <input [readonly]="true" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control"
                    placeholder="" formControlName="lendingDatetime">
                  <owl-date-time [disabled]="!editable" #dt1></owl-date-time>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>{{translator.getSentence('return-date')}}</label>
                  <input [readonly]="true" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control"
                    placeholder="" formControlName="returnDatetime">
                  <owl-date-time [disabled]="!editable" #dt2></owl-date-time>
                </div>
              </div>
            </div>
            <div class="form-group pt-2">
              <label for="commentReturn">{{translator.getSentence('comment-when-borrowing')}}</label>
              <h6 class="card-subtitle text-muted">{{ lending.commentLending }}</h6>
            </div>
            <div class="form-group pt-2">
              <label for="commentReturn">{{translator.getSentence('return-comment')}}</label>
              <textarea class="form-control" id="commentReturn" formControlName="commentReturn" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2"
              (click)="confirmReturn()">{{translator.getSentence('confirm-return')}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>