@import "../../../variables";

#left-navbar {
    transition: left 0.5s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    background: #11101D;
    background-color: #ffff;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 110px 30px 20px 0px;
    overflow-y: auto;
    overflow-x: clip;
    left: -250px;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.15);

    .activated-side-nav {
        background-color: #3498db;
        width: 230px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 20px;
        color: $light-grey;
        i {
            margin-right: 12px;
            font-size: 26px;
        }

        .nav-name {
            font-size: 14px;
        }

        i,
        .nav-name {
            color: #E4E4E4;
            transition: 0.2s;
        }

        &:hover,
        &:active {

            i,
            .nav-name {
                color: white;
            }
        }
    }

    .side-nav {
        width: 230px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 20px;
        color: $light-grey;

        i {
            margin-right: 12px;
            font-size: 26px;
        }

        .nav-name {
            font-size: 14px;
        }

        i,
        .nav-name {
            color: #9babc5;
            transition: 0.2s;
        }

        &:hover,
        &:active {

            i,
            .nav-name {
                color: $primary;
            }
        }
    }

    @media all and (max-width: 500px) {
        width: 100%;
        left: -100%;
        padding: 110px 0 20px 0;

        .side-nav {
            justify-content: center;
            width: 100%;
        }
    }

    &.opened {
        left: 0;
    }
}