<div id="left-navbar">
    <a nohref routerLink="/" [className]="router.url === '/' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)">
        <i class="fa-solid fa-house fa-"></i>
        <span class="nav-name">{{translator.getSentence('dashboard-upper')}}</span>
    </a>
    <a [className]="router.url === '/equipments' ? 'activated-side-nav' : 'side-nav'" (click)="closeBurgerMenu($event)"
        nohref routerLink="/equipments">
        <i class="fa-solid fa-cube fa-"></i>
        <span class="nav-name">{{translator.getSentence('equipments-upper')}}</span>
    </a>
    <a [className]="router.url === '/consumables' ? 'activated-side-nav' : 'side-nav'" (click)="closeBurgerMenu($event)"
        nohref routerLink="/consumables">
        <i class="fa-solid fa-screwdriver-wrench fa-"></i>
        <span class="nav-name">{{translator.getSentence('consumables-upper')}}</span>
    </a>
    <a *ngIf="this.auth.isAdmin()" [className]="router.url === '/stock-place' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)" nohref routerLink="/stock-place">
        <i class="fa-solid fa-map fa-"></i>
        <span class="nav-name">{{translator.getSentence('stock-places')}}</span>
    </a>
    <a [className]="router.url === '/lendings' ? 'activated-side-nav' : 'side-nav'" (click)="closeBurgerMenu($event)"
        nohref routerLink="/lendings">
        <i class="fa-solid fa-clock-rotate-left fa-"></i>
        <span class="nav-name">{{translator.getSentence('loans-upper')}}</span>
    </a>
    <a *ngIf="this.auth.isAdmin()" [className]="router.url === '/tags-manager' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)" nohref routerLink="/tags-manager">
        <i class="fa-solid fa-tags fa-"></i>
        <span class="nav-name">{{translator.getSentence('categories-upper')}}</span>
    </a>
    <a *ngIf="this.auth.isAdmin()"
        [className]="router.url === '/in-out-consumables' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)" nohref routerLink="/in-out-consumables">
        <i class="fa-solid fa-arrow-right-arrow-left fa-"></i>
        <span class="nav-name">{{translator.getSentence('in-out')}}</span>
    </a>
    <a *ngIf="this.auth.isAdmin()" [className]="router.url === '/logging' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)" nohref routerLink="/logging">
        <i class="fa-solid fa-file fa-"></i>
        <span class="nav-name">{{translator.getSentence('logs')}}</span>
    </a>
    <a *ngIf="this.auth.isAdmin()" [className]="router.url === '/users' ? 'activated-side-nav' : 'side-nav'"
        (click)="closeBurgerMenu($event)" nohref routerLink="/users">
        <i class="fa-solid fa-users fa-"></i>
        <span class="nav-name">{{translator.getSentence('users-upper')}}</span>
    </a>
</div>