<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{translator.getSentence('categories-management')}}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
                <li class="breadcrumb-item active">{{translator.getSentence('categories-management')}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6" *ngIf="tagsList">
            <div class="cart">
                <div class="cart-title">
                    <span>{{translator.getSentence('categories-list')}}</span>
                </div>
                <div class="cart-content">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item tags" *ngFor="let tag of tagsList" (click)="getLists(tag)">
                            {{tag.name}} <span class="badge float-right"
                                style="background-color: {{ tag.color }} ; color:white; ">{{tag.name}} </span>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end pr-5 pb-3">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button *ngFor="let n of tagsPages"
                            class="btn btn-sm btn-secondary {{ (n+1) === tagsPage ? 'active' : '' }}"
                            (click)="updatePage(n+1, 'tags')">{{ n+1 }}</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="cart">
                <div class="cart-title">
                    <span>{{translator.getSentence('new-category')}}</span>
                </div>
                <div class="cart-content pb-4">
                    <div class="form-row align-items-center justify-content-center">
                        <div class="col-auto">
                            <label for="inlineFormInput">{{translator.getSentence('category-name')}}</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" [(ngModel)]="newTag.name">
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <input type="color" [(ngModel)]="newTag.color">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2"
                                (click)="add(newTag)">{{translator.getSentence('add-upper')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="current.name != undefined">
            <div class="cart">
                <div class="cart-title">
                    <span>{{current.name}}</span>
                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-danger"
                            (click)="deleteTag(current)">{{translator.getSentence('delete-upper')}}</button>
                    </div>
                </div>
                <div class="cart-content pl-5 pr-5 pt-3 pb-4">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label for="inlineFormInput">{{translator.getSentence('category-name')}}</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" id="inlineFormInput"
                                [(ngModel)]="current.name">
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <input type="color" id="inlineFormInputGroup" [(ngModel)]="current.color">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2"
                                (click)="update(current)">{{translator.getSentence('modify-upper')}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-lg-6">
                    <div class="cart">
                        <div class="cart-title">
                            <span>{{translator.getSentence('consumables-upper')}}</span>
                        </div>
                        <div class="cart-content" style="padding: 10px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{{translator.getSentence('name-upper')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of consumableList">
                                        <td>
                                            <div class="item-image-profile">
                                                <img src="{{restBaseUri + element.image.contentUrl}}"
                                                    alt="Illustration of {{element.name}}" *ngIf="element.image">
                                            </div>
                                        </td>
                                        <td class="text-info">{{element.name}}</td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                [routerLink]="['/consumables', element.id]">
                                                {{translator.getSentence('see-upper')}}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end pr-5 pb-3">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button *ngFor="let n of consumablesPages"
                                    class="btn btn-sm btn-secondary {{ (n+1) === consumablesPage ? 'active' : '' }}"
                                    (click)="updatePage(n+1, 'consumables')">{{ n+1 }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="cart">
                        <div class="cart-title">
                            <span>{{translator.getSentence('equipments-upper')}}</span>
                        </div>
                        <div class="cart-content" style="padding: 10px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{{translator.getSentence('name-upper')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of equipementList">
                                        <td>
                                            <div class="item-image-profile">
                                                <img src="{{restBaseUri + element.image.contentUrl}}"
                                                    alt="Illustration of {{element.name}}" *ngIf="element.image">
                                            </div>
                                        </td>
                                        <td class="text-info">{{element.name}}</td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                [routerLink]="['/equipments', element.id]">
                                                {{translator.getSentence('see-upper')}}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end pr-5 pb-3">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button *ngFor="let n of equipmentsPages"
                                    class="btn btn-sm btn-secondary {{ (n+1) === equipmentsPage ? 'active' : '' }}"
                                    (click)="updatePage(n+1, 'equipemnts')">{{ n+1 }}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>