<div class="body">
  <div class="top">
    <div class="header">
      <img src="assets/images/svg/Logo_entrances.svg" alt="" class="test">
      <p class="title">{{translator.getSentence('add-entrance-out')}}</p>
    </div>
    <p class="text">{{translator.getSentence('lyon-ynov-campus')}}</p>
  </div>

  <div class="cart">

    <div class="cart-content p-4">
      <form [formGroup]="inOutForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>{{translator.getSentence('type-upper')}}</label>
            <select class="form-control" id="select" formControlName="entrance">
              <option [ngValue]="true">{{translator.getSentence('in-upper')}}</option>
              <option [ngValue]="false">{{translator.getSentence('out-upper')}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{translator.getSentence('consumable-upper')}}</label>
            <ng-select formControlName="consumable" class="custom" [typeahead]="consumablesTypeahead" id="consumable">
              <ng-option *ngFor="let consumable of consumables" [value]="consumable.id">{{consumable.name}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="quantity">{{translator.getSentence('quantity-upper')}}</label>
            <input type="number" class="form-control" id="select" formControlName="quantity">
          </div>
          <div class="form-group col-md-6">
            <label>{{translator.getSentence('date-upper')}}</label>
            <div class="input-group">
              <input [owlDateTime]="dio" [owlDateTimeTrigger]="dio" class="form-control" id="select" placeholder=""
                formControlName="date">
              <owl-date-time #dio></owl-date-time>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button type="submit" class="form_button" (click)="add()"
    [disabled]="!inOutForm.valid">{{translator.getSentence('add-upper')}}</button>

</div>