@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../../assets/polices/Montserrat/Montserrat-Regular.ttf');
}
  
  @font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url('../../../assets/polices/Montserrat/Montserrat-SemiBold.ttf');
}
  

.body {
    margin: 0 1em 0 1em;
    padding: 1em;

    .title {
        font-family: 'Montserrat Semi-Bold';
        font-size: 25px;
    }

    .top {

        .header {
            display: flex;
            img {
                max-width: 4em;
                max-height: 2em;
                margin-right: 1em;
            }
        }
        .text {
            display: none;
        }
    
    }

   
    .main {
        background-color: white;
        border-radius: 30px;
        form {
            padding: 1em;
            margin: 1em;

            input {
                padding-left: 1em;
                //max-width: 100%;
                margin-bottom: 1em;
                border: none;
                border-bottom: 2px solid rgb(175, 171, 171);
                min-height: 3em;
            }
        }
    }
    button {
        border: none;
        width: 100%;
        min-height: 3em;
        color: #F5F6FA;
        font-size: 16px;

        background: linear-gradient(90deg, rgba(0,80,157,1) 0%, rgba(0,119,190,1) 50%, rgba(9,155,176,1) 100%);
        border-radius: 10px;
        opacity: 1
    }
    button:hover {
        border: 2px solid rgba(0,80,157,1); 
        color: black;
        font-size: 16px;

        background:white;
    }

   
}

@media (min-width: 768px) {

    .text {
        padding-bottom: -1em;
        display:block!important;
    }

    .main {
        padding: 1em;
        
    }


    .userName {
        display: flex;
        justify-content: space-between;

        input {
            max-width: 45%;
        }
    }

    .submitBtn {

        text-align: end;

        button {
            margin-top: 2em;
            font-family: 'Montserrat Semi-Bold';
            max-width: 20%;
        }
    }


}