<div class="body">
  <div class="top">
    <div class="header">
      <img src="assets/images/svg/logo_users.svg" alt="">
      <p class="title">{{ update ? translator.getSentence('modify-upper') : translator.getSentence('add-upper') }}
        {{translator.getSentence('an-user')}}</p>
    </div>
    <p class="text">{{translator.getSentence('lyon-ynov-campus')}}</p>

  </div>

  <div class="main">
    <form [formGroup]="userForm">

      <div class="userName">
        <input type="text" class="form-control form_input" id="user-firstname" formControlName="firstName"
          placeholder="Prenom *" required>
        <input type="text" class="form-control form_input" id="user-lastname" formControlName="lastName"
          placeholder="Nom de famille *" required>
      </div>
      <input type="email" class="form-control form_input" id="user-email" formControlName="email"
        placeholder="Adresse email *" required>
      <input type="password" class="form-control form_input" id="user-password" formControlName="password"
        placeholder="Mot de passe *" required>
      <input type="tel" class="form-control form_input" id="user-phone" formControlName="phone" placeholder="Telephone">
    </form>

  </div>
  <div class="submitBtn">
    <button class="form_button" *ngIf="!update" type="submit"
      (click)="submit()">{{translator.getSentence('add-upper')}}</button>
    <button class="form_button" *ngIf="update" type="submit"
      (click)="save()">{{translator.getSentence('save-upper')}}</button>
  </div>
</div>