<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{ isEditForm ? translator.getSentence('modify-upper') : translator.getSentence('add-upper') }}
        {{translator.getSentence('a-stock-place')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="/stock-place">{{translator.getSentence('stock-places')}}</a></li>
        <li class="breadcrumb-item active">{{ isEditForm ? translator.getSentence('modify-upper') :
          translator.getSentence('add-upper') }}
          {{translator.getSentence('a-stock-place')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-content p-4">
          <form [formGroup]="stockPlaceForm" (submit)="submit()">
            <fieldset>
              <legend>{{translator.getSentence('stock-place')}}</legend>
              <div class="form-group">
                <label for="formName">{{translator.getSentence('name-upper')}}</label>
                <input id="formName" type="text" class="form-control form_input" formControlName="name"
                  placeholder="{{translator.getSentence('ex-drawer')}}">
                <label *ngIf="this.stockPlaceForm.controls.name.hasError('required')">
                  {{translator.getSentence('enter-name')}}
                </label>
              </div>
              <button class="btn btn-primary float-right form_button" [disabled]="!stockPlaceForm.valid">{{ isEditForm ?
                translator.getSentence('modify-upper') : translator.getSentence('add-upper') }}</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>