<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('users-upper')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('users-list')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('users-upper')}}</span>
          <div class="d-flex align-items-center">
            <div class="form-group table-search">
              <input type="email" class="form-control table-search-input" id="searchUser"
                placeholder="{{translator.getSentence('search-upper')}}" />
            </div>
            <a routerLink="/users/add" type="button" class="btn btn-success">{{translator.getSentence('add-upper')}}</a>
          </div>
        </div>
        <div class="cart-content">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{translator.getSentence('email-address')}}</th>
                <th scope="col">{{translator.getSentence('firstname-upper')}}</th>
                <th scope="col">{{translator.getSentence('lastname-upper')}}</th>
                <th scope="col">{{translator.getSentence('loans-upper')}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="userLoaded | async">
              <tr *ngFor="let user of users">
                <td class="col-image">
                  <div class="item-image-profile">
                    <img src="assets/images/user-profile.png" alt="" />
                  </div>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                  <span *ngIf="user.lendings">{{ user.lendings.length }}</span>
                  <span *ngIf="!user.lendings">0</span>
                </td>
                <td>
                  <span *ngIf="currentUser.id != user.id">
                    <button *ngIf="user.roles.length === 1" type="button" class="btn btn-success btn-sm"
                      (click)="openConfirmationDialog(user, true)">
                      {{translator.getSentence('promote-upper')}}
                    </button>
                    <button *ngIf="user.roles.length > 1" type="button" class="btn btn-danger btn-sm"
                      (click)="openConfirmationDialog(user, false)">
                      {{translator.getSentence('downgrade-upper')}}
                    </button>
                  </span>

                  <a routerLink="/users/{{ user.id }}" type="button"
                    class="btn btn-primary btn-sm">{{translator.getSentence('see-upper')}}</a>
                  <button type="button" class="btn btn-danger btn-sm" (click)="delete(user)">
                    {{translator.getSentence('delete-upper')}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of usersPages"
              class="btn btn-sm btn-secondary {{ (n+1) === usersPage ? 'active' : '' }}" (click)="updatePage(n+1)">{{
              n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>