<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{equipment.name}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="/equipments">{{translator.getSentence('equipments-list')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('equipment-details')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-title">
          <span>{{equipment.name}} #{{equipment.id}}</span>
          <div class="d-flex align-items-center">
            <!--<div class="d-flex align-items-center mr-4" *ngIf="this.auth.isAdmin()">
              <label class="switch">
                <input type="checkbox" id="check" (change)="onEnabledChange(equipment.enabled)" [checked]="equipment.enabled">
                <span class="slider round"></span>
              </label>
            
              <label for="check" *ngIf="equipment.enabled == true"
                class="mb-0">{{translator.getSentence('enabled-upper')}}</label>
              <label for="check" *ngIf="equipment.enabled != true"
                class="mb-0">{{translator.getSentence('disabled-upper')}}</label>
            </div>-->
            <button type="button" class="btn btn-primary" routerLink="edit"
              *ngIf="this.auth.isAdmin()">{{translator.getSentence('modify-upper')}}</button>
            <button type="button" class="btn ml-1 btn-danger" *ngIf="this.auth.isAdmin()"
              (click)="onDeleteClick(equipment.id)">{{translator.getSentence('delete-upper')}}</button>
            <button type="button" class="btn btn-info ml-1" routerLink="/lendings/add/equipment/{{equipment.id}}"
              *ngIf="!this.auth.isAdmin() && this.auth.isConnected()">{{translator.getSentence('borrow-upper')}}</button>
          </div>
        </div>
        <div class="cart-content pl-4 pr-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <img src="{{restBaseUri + equipment.image.contentUrl}}"
                alt="{{translator.getSentence('illustration-of')}} {{equipment.name}}" class='card-img-top'
                *ngIf="equipment.image" />
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-10">
              <div class="d-flex flex-wrap mb-4">
                <div *ngIf="this.auth.isAdmin()" class="card mr-2 mb-2">
                  <div class="card-body" *ngIf="(stockPlace | async) as stockPlace">
                    <h5 class="card-title">{{translator.getSentence('stock-place')}}</h5>
                    <h6 class="card-subtitle text-muted">{{stockPlace.name}}</h6>
                  </div>
                </div>
                <div class="card mr-2 mb-2">
                  <div class="card-body" *ngIf="equipment.description">
                    <h5 class="card-title">{{translator.getSentence('description-upper')}}</h5>
                    <h6 class="card-subtitle text-muted">{{equipment.description}}</h6>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{translator.getSentence('categories-upper')}}</h5>
                    <div class="card-subtitle">
                      <div class="d-flex flex-wrap">
                        <div *ngFor="let element of equipment.tags" class="mr-1 mb-1">
                          <span class="badge p-2" style="background-color: {{ element.color }}; color: white;">{{
                            element.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4" *ngIf="this.auth.isAdmin()">
                <h4 class="mb-0 mr-4">{{translator.getSentence('category-upper')}}</h4>
                <ng-multiselect-dropdown [placeholder]="'Ajouter des categories'" [data]="dropdownList"
                  [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="updateTags()"
                  (onDeSelect)="updateTags()" (onSelectAll)="updateTags()">
                </ng-multiselect-dropdown>
                <app-tag-input></app-tag-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('entities-list')}}</span>
          <div *ngIf="this.auth.isAdmin()" class="d-flex">
            <form [formGroup]="entityForm" (ngSubmit)="generateEntities()" class="d-flex align-items-center">
              <input id="formName" type="number" min="0" class="form-control" formControlName="entititiesNumber">
              <button class="btn btn-info ml-2 col-md-5"
                [disabled]="!entityForm.valid">{{translator.getSentence('generate-entities')}}</button>
            </form>
          </div>
        </div>
        <div class="cart-content px-4 table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="20%" scope="col">{{translator.getSentence('reference-upper')}}</th>
                <th scope="col">{{translator.getSentence('enabled-upper')}}</th>
                <th scope="col">{{translator.getSentence('availability-upper')}}</th>
                <th scope="col">{{translator.getSentence('state-upper')}}</th>
                <th width="25%" scope="col" *ngIf="this.auth.isAdmin()"></th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let element of equipmentEntities">
                <td class="text-info">{{element.reference}}</td>
                <td class="text-success" *ngIf="element.enabled == true">{{translator.getSentence('enabled-upper')}}
                </td>
                <td class="text-danger" *ngIf="element.enabled != true">{{translator.getSentence('disabled-upper')}}
                </td>
                <td class="text-success" *ngIf="element.available == true">{{translator.getSentence('available-upper')}}
                </td>
                <td class="text-danger" *ngIf="element.available != true">
                  {{translator.getSentence('unavailable-upper')}}</td>
                <td class="text-info">{{ element.state | titlecase }}</td>
                <td *ngIf="this.auth.isAdmin()" class="d-flex">
                  <button type="button" class="btn btn-outline-info btn-sm"
                    routerLink="/lendings/entity/{{element.id}}">{{translator.getSentence('loan-upper')}}</button>
                  <button type="button" class="btn btn-primary btn-sm"
                    routerLink="entity/{{element.id}}">{{translator.getSentence('modify-upper')}}</button>
                  <button type="button" class="btn btn-danger btn-sm"
                    (click)="deleteEntity(element.id)">{{translator.getSentence('delete-upper')}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of entityPages"
              class="btn btn-sm btn-secondary {{ (n+1) === entityPage ? 'active' : '' }}" (click)="updatePage(n+1)">{{
              n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-consumables-list [equipmentId]="equipment.id"></app-consumables-list>
    </div>
  </div>
</div>