@import "../../variables";

nav {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 0 40px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 2;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.15);

  .burger_icon_menu {
    font-size: 30px;
    cursor: pointer;
  }
  .translator-button-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
  }
  #logo {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 2% 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 500px;
    border: 1px solid #a2a2a2;
    padding: 0px 20px;
    border-radius: 25px;
    margin: auto;

    i {
      font-size: 20px;
      color: #494949;
    }

    .icone-loupe {
      color: $primary;
      margin-left: 20px;
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }

    input {
      border: none;
      width: 100%;
      padding: 10px 30px 10px 16px;
      color: $light-grey;
      font-weight: 500;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $light-grey;
      }
    }
  }

  .logged-user {
    margin-left: 20px;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    img {
      max-height: 30px;
      max-width: 30px;
      margin-right: 15px;
    }

    .username {
      flex: 1;
      color: $light-grey;
      font-weight: 500;
      font-size: 13px;
      margin-right: 10px;
    }

    .sub-nav {
      display: none;
      overflow: hidden;
      min-width: 100%;
      position: absolute;
      right: 0;
      top: 85%;
      border: 1px solid #c8c8c8;
      background-color: white;
      box-shadow: 2px 0 7px rgba(155, 171, 197, 0.1);
      border-radius: 7px;

      .sub-item {
        padding: 10px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: $light-grey;
        transition: color .3s;

        .nav-item-icon {
          margin-right: 10px;
        }

        &:hover {
          color: $primary;
        }
      }
    }

    &:hover .sub-nav {
      display: block;
    }
  }

  @media all and (max-width: 1100px) {
    .nav-search{
      margin: 0 20px;
    }
  }

  @media all and (max-width: 800px) {
    #logo {
      display: none;
    }
  }

  @media all and (max-width: 600px) {
    .username {
      display: none;
    }
  }
}