<nav>
    <span class="burger_icon_menu" (click)="openContent($event)">
        <i class="fa-solid fa-bars"></i>
    </span>
    <!-- <div id="nav-burger" (click)="openContent($event)">
        <div class="burger-top"></div>
        <div class="burger-mid"></div>
        <div class="burger-bot"></div>
    </div> -->
    
    <div id="logo">
        <a href="/"><img src="assets/images/logo.png" alt=""></a>
    </div>
    
    <div class="nav-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="navSearch" placeholder="{{translator.getSentence('search-equipment-consumable')}}"
            (keydown.enter)="search()" [(ngModel)]="searchCriteria" />
    </div>
    <div class="translator-button-container">
        <app-translator-button></app-translator-button>
    </div>
    <div *ngIf="!authService.isConnected()">
        <a href="/login" type="button" class="btn btn-info">Se connecter</a>
    </div>
    <div class="logged-user" *ngIf="authService.isConnected()">
        <img src="assets/images/user-profile.png" alt="">
        <div class="username">{{ authService.currentUserValue.firstName }} {{ authService.currentUserValue.lastName }}
        </div>
        <fa-icon [icon]="faChevronDown" class="nav-item-icon"></fa-icon>
        <div class="sub-nav">
            <div class="sub-item" (click)="logout()">
                <fa-icon [icon]="faSignOutAlt" class="nav-item-icon"></fa-icon>
                <div class="sub-item-name">{{translator.getSentence('logout-upper')}}</div>
            </div>
        </div>
    </div>
</nav>
<app-left-navbar></app-left-navbar>