<div class="d-flex align-items-center pl-2 pr-2">
  <input type="text" class="form-control" id="inlineFormInput" [(ngModel)]="newTag.name">
  <button type="submit" class="btn btn-primary ml-2"
    (click)="add(newTag.name)">{{translator.getSentence('create-category')}}</button>
</div>