<div class="container-fluid">
  <div class="row pl-2 pr-2 ">
    <div class="col-12 pb-4">
      <h1>{{translator.getSentence('logs_title')}}</h1>
    </div>
    <div class="overflow_table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{{translator.getSentence('logs_user')}}</th>
            <th scope="col">{{translator.getSentence('logs_endpoint')}}</th>
            <th scope="col">URI</th>
            <th scope="col">Type</th>
            <th scope="col">{{translator.getSentence('logs_content')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logsList">
            <td>{{log.id}}</td>
            <td>{{log.user}}</td>
            <td>{{log.route}}</td>
            <td>{{log.uri}}</td>
            <td>{{log.type}}</td>
            <td>{{log.content}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-5">
      <li class="page-item" [ngClass]="{'disabled': currentPage == 1}">
        <a class="page-link" (click)="previousPage()">{{translator.getSentence('logs_previous')}}</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 2">
        <a class="page-link" (click)="changePage(currentPage - 2)">{{currentPage - 2}}</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">{{currentPage - 1}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" (click)="changePage(currentPage)">{{currentPage}}</a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">{{currentPage + 1}}</a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a class="page-link" (click)="changePage(currentPage + 2)">{{currentPage + 2}}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': currentPage == totalPages}">
        <a class="page-link" (click)="nextPage()">{{translator.getSentence('logs_next')}}</a>
      </li>
    </ul>
  </nav>

</div>
