.page-item {
  .page-link {
    color: #fff;
    background-color: #1e2b37;
    border-color: #1a252f;
    cursor: pointer;
  }

  &.disabled {
    .page-link {
      color: #fff;
      background-color: #3d4247;
      border-color: #1a252f;
      cursor: not-allowed;
    }
  }
  &.active {
    .page-link {
      color: #fff;
      background-color: #717476;
      border-color: #1a252f;
      cursor: not-allowed;
    }
  }
}

.overflow_table {
    overflow-x: scroll;
}