<div class="container-fluid" *ngIf="(lending | async) as lending">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('loans-history')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="lendings">{{translator.getSentence('loans-show')}}</a></li>
        <li class="breadcrumb-item active">{{ lending.id }}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-6">{{translator.getSentence('loan-upper')}} #{{lending.id}}</h1>
        <p class="lead">
          <a href="equipments/{{ lending.entity.equipment.id }}" *ngIf="lending.entity">
            <div class="lending-equipement-name">{{ lending.entity.equipment.name }} - <span class="entity-id">REF {{
                lending.entity.reference }}</span></div>
          </a>
          <a href="consumables/{{ lending.consumable.id }}" *ngIf="lending.consumable">
            <div class="lending-equipement-name">{{ lending.lendingQuantity }}x {{ lending.consumable.name }}</div>
          </a>
        </p>
        <hr class="my-4">
        <h3 class="mb-3">{{translator.getSentence('to-the-loan')}}</h3>
        <p><b>{{translator.getSentence('user-show')}}</b> {{ lending.userLending.firstName }} {{
          lending.userLending.lastName }}</p>
        <p><b>{{translator.getSentence('date-show')}}</b> {{ service.getLendingDate(lending.lendingDatetime) }}</p>
        <p *ngIf="lending.stateLending"><b>{{translator.getSentence('state-show')}}</b> {{ lending.stateLending.name }}
        </p>
        <p><b>{{translator.getSentence('comment-show')}}</b> {{ lending.commentLending }}</p>
        <p><b>{{translator.getSentence('accepted-show')}}</b> {{ lending.accepted ? translator.getSentence('yes-upper')
          :
          translator.getSentence('no-upper') }}</p>
        <p><b>{{translator.getSentence('expected-return-date')}} </b>{{ service.getLendingDate(lending.returnDatetime) }}</p>
        <hr class="my-4">
        <h3 class="mb-3">{{translator.getSentence('way-back')}}</h3>
        <p><b>Retourné :</b> {{ lending.returned ? translator.getSentence('yes-upper') :
          translator.getSentence('no-upper') }}</p>
        <p *ngIf="lending.consumable && lending.returned"><b>{{translator.getSentence('quantity-returned-show')}} </b>
          {{ lending.returnQuantity }}</p>
        <p *ngIf="!lending.returned && lending.returnDatetime">
          <b>{{translator.getSentence('expected-return-date-show')}} </b> {{service.getLendingDate(lending.lendingDatetime) }}
        </p>
        <p *ngIf="lending.returned"><b>{{translator.getSentence('return-date-show')}}</b> {{ service.getLendingDate(lending.lendingDatetime) }}</p>
        <p *ngIf="lending.returned"><b>{{translator.getSentence('user-show')}}</b> {{ lending.userReturn.firstName }} {{
          lending.userReturn.lastName }}</p>
        <p *ngIf="lending.returned && lending.stateLending"><b>{{translator.getSentence('state-show')}}</b> {{
          lending.stateReturn.name }}</p>
        <p *ngIf="lending.returned"><b>{{translator.getSentence('comment-show')}}</b> {{ lending.commentReturn }}</p>
        <div *ngIf="!lending.accepted">
          <button type="button" class="btn btn-success btn-sm" (click)="acceptLendingRequest(lending.id)"
            routerLink="/lendings">{{translator.getSentence('accept-upper')}}</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteLending(lending.id)"
            routerLink="/lendings">{{translator.getSentence('refuse-show')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>