<div [ngClass]="{ 'container-fluid': !showEquipmentConsumables }">
  <div class="row">

    <div class="col-12">
      <h1>{{translator.getSentence('consumables-upper')}}</h1>
      <ol class="breadcrumb" *ngIf="!showEquipmentConsumables">
        <li class="breadcrumb-item"><a href="#">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('consumables-list')}}</li>
      </ol>
    </div>

    <div class="col-12">
      <div>
        <div class="cart-content px-4 py-2 table-responsive">
          <div *ngIf="showEquipmentConsumables && this.auth.isAdmin()" routerLink="addConsumable"
            class="card add mx-2 mt-2">
            <div class="round">
              <span class="material-symbols-outlined">
                ADD
              </span>
            </div>
          </div>
          <div *ngIf="!showEquipmentConsumables && this.auth.isAdmin()" routerLink="add" class="card add mx-2 mt-2">
            <div class="round">
              <span class="material-symbols-outlined">
                ADD
              </span>
            </div>
          </div>

          <div class="card mx-2 mt-2" *ngFor="let element of consumables">
            <div *ngIf="this.auth.isAdmin()" class="actions justify-content-between w-100">
              <button class="edit" routerLink="/consumables/{{element.id}}/edit"><span
                  class="material-symbols-outlined">EDIT</span></button>
              <button class="delete" (click)="onDeleteClick(element.id)"><span
                  class="material-symbols-outlined">DELETE</span></button>
            </div>
            <div class="content p-3">
              <div class="top">
                <img onError="this.src='/assets/images/not-available.png'"
                  src="{{restBaseUri + element.image.contentUrl}}"
                  alt="{{translator.getSentence('illustration-of')}} {{element.name}}" *ngIf="element.image">
                <img src="/assets/images/not-available.png" alt="{{translator.getSentence('no-image')}}"
                  *ngIf="!element.image">
              </div>
              <div class="bottom">
                <p class="name">{{ element.name }}</p>
                <p class="entity_count">{{element.quantity}} {{element.unity}}</p>
                <button type="button" *ngIf="element.id > 0" class="btn btn-info"
                  routerLink="/lendings/add/consumable/{{element.id}}">{{translator.getSentence('borrow-upper')}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of elementsPages"
              class="btn btn-sm btn-secondary {{ (n+1) === elementsPage ? 'active' : '' }}" (click)="updatePage(n+1)">{{
              n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>