<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }}">
        <a class="close" (click)="removeAlert(alert)">&times;</a>
        <span [innerHTML]="alert.message"></span>
      </div>
    </div>
  </div>
</div>
