@font-face {
  font-family: 'Montserrat Regular';
  src: url('../../assets/polices/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Semi-Bold';
  src: url('../../assets/polices/Montserrat/Montserrat-SemiBold.ttf');
}


* {
  font-family: 'Montserrat Regular';
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: flex-end;

  img {
    min-width: 12.5em;
    max-height: 12.5em;
  }
}

.robot{
  display:none;
}

.main {

  padding: 3em;
  text-align: center;

  h1 {
    font-family: 'Montserrat Semi-Bold';
    font-size: 45px;
  }

  .form-input {
    margin: 5em 0 1em 0;
    input {
      padding-left: 1em;
      min-width: 100%;
      margin-bottom: 1em;
      background-color: #F5F6FA;
      border: none;
      border-bottom: 2px solid rgb(175, 171, 171);
      min-height: 3em;
    }
  }

  .form-footer {
    justify-content: flex-start;
  }


  button {
    border: none;
    width: 100%;
    min-height: 3em;
    color: #F5F6FA;
    font-size: 16px;

    background: #0361AC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;

  }
  form {
    margin-bottom: 1em;
  }

  .footer-link {
    text-decoration: underline;
    color: #0361AC;
  }

}

.footer {
   
  #wawe {
    display:table-cell;
    width:100%;
    bottom:0em;
    position:absolute;
  }

  #full-wawe {
    display:none;
  }

  #question {
    margin: 1em;
    position:absolute;
    bottom:0em;
  }
    
}

@media (min-width: 768px) {

  .header {
    img {
      min-width: 11em;
      min-height: 12em;
    }
  }

  * {
    font-size: 20px;
  }
  
  .main {
    max-width: 32em;
    margin: auto;
    margin-top: -5em;

    .top-text {
      text-align: start;
    }

    .form-input {
      margin-top: 1em;   
    
    }

    button {
      max-width: 13em;
      font-size: 20px;  
    }

  }

  .footer {
   
    background-image: url("/assets/images/login/full-wawe.png");
    
    #wawe {
      display:none ;
    }

    #full-wawe {
      display:table-cell;
      width:100%;
      position:absolute;
      bottom:0px;
      z-index: -1;
    }
    a {
      display: flex;                  
      justify-content: flex-end;
      
      #question {
        min-width: 70px;
        margin: 2em;      
      }
    }        
  }
}