<div class="header">
    <img src="assets/images/login/logo-login.png" alt="">
</div>

<div class="robot">
    <img src="assets/images/login/security.png" alt="">
    <img src="assets/images/login/robot.png" alt="">
    <img src="assets/images/login/profil.png" alt="">
</div>

<div class="main">
    <div class="top-text">
        <h1>{{translator.getSentence('connect-upper')}}</h1>
        <p>{{translator.getSentence('access-leony')}}</p>
    </div>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-input">
            <input type="text" placeholder="{{translator.getSentence('email-address')}}" name="address" required
                formControlName="email">
            <input type="password" placeholder="{{translator.getSentence('password-upper')}}" name="psw" required
                formControlName="password">
            <span id="error-message" class="text-danger pl-3"
                style="display: none">{{translator.getSentence('bad-id-password')}}</span>
        </div>
        <div class="form-footer">
            <p>{{translator.getSentence('have-you')}} <a href=""
                    style="text-decoration: none">{{translator.getSentence('forgotten-password')}}</a></p>
        </div>
        <button type="submit">{{translator.getSentence('log-in')}}</button>
    </form>
    <a class="footer-link" href="/">{{translator.getSentence('material-list')}}</a>
</div>

<div class="footer">
    <img src="assets/images/login/wawe.png" alt="wawe" id="wawe">
    <img src="assets/images/login/full-wawe.png" alt="full-wawe" id="full-wawe">


    <!-- <a href="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/8744.png"><img src="assets/images/login/question.png" alt="" id="question"></a> -->


</div>