<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('add-consumable')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="equipments">{{translator.getSentence('equipments-list')}}</a></li>
        <li class="breadcrumb-item"><a
            href="equipments/{{equipment.id}}">{{translator.getSentence('equipment-details')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('add-upper')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-content p-4">
          <form [formGroup]="consumableForm" (ngSubmit)="submit()">
            <fieldset>
              <legend>{{translator.getSentence('consumables-upper')}}</legend>
              <div class="form-group pt-3" *ngIf="auth.isAdmin()">
                <label for="consumable">{{translator.getSentence('consumable-upper')}}</label>
                <ng-select formControlName="consumable" [typeahead]="consumablesTypeahead" id="consumable">
                  <ng-option *ngFor="let consumable of consumables" [value]="consumable.id">{{consumable.name}}
                  </ng-option>
                </ng-select>
              </div>
              <div class="form-group">
                <button [disabled]="consumableForm.invalid"
                  class="btn btn-primary">{{translator.getSentence('add-upper')}}</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>