<div class="container-fluid" *ngIf="(entity | async) as entity">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('entity-borrowing-history')}} {{ entity.equipment.name }} - {{ entity.reference }}
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="lendings">{{translator.getSentence('loans-list')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('loans-history')}}</li>
      </ol>
    </div>
    <div class="col-12" *ngFor="let lending of lendings">
      <div class="cart">
        <div class="cart-content p-4">
          <div class="d-flex align-items-center">
            <div class="id">#{{ lending.id }}</div>
            <div class="lend-date"><b>{{translator.getSentence('borrowed-show')}}</b> {{
              service.getLendingDate(lending.lendingDatetime) }}</div>
            <div class="return-date">
              <span *ngIf="lending.returnDatetime !== null && lending.returned"
                class="lending-item-date"><b>{{translator.getSentence('returned-show')}}</b> {{
                service.getLendingDate(lending.returnDatetime) }}</span>
              <span *ngIf="lending.returnDatetime !== null && !lending.returned"
                class="lending-item-date"><b>{{translator.getSentence('expected-show')}}</b> {{
                service.getLendingDate(lending.returnDatetime) }}</span>
              <span *ngIf="lending.returnDatetime === null" class="lending-item-date">-</span>
            </div>
            <div class="user">
              <span *ngIf="lending.userLending">{{ lending.userLending.firstName }} {{ lending.userLending.lastName
                }}</span>
              <span *ngIf="lending.userReturn"> / {{ lending.userReturn.firstName }} {{ lending.userReturn.lastName
                }}</span>
            </div>
            <div class="action">
              <a routerLink="/lendings/{{ lending.id }}" type="button"
                class="btn btn-primary btn-sm">{{translator.getSentence('see-upper')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-content-end p-3">
      <div class="btn-group" role="group" aria-label="First group">
        <button *ngFor="let n of elementsPages"
          class="btn btn-sm btn-secondary {{ (n+1) === elementsPage ? 'active' : '' }}" (click)="updatePage(n+1)">{{ n+1
          }}</button>
      </div>
    </div>
    <div class="col-12" *ngIf="lendings.length === 0">
      <div class="cart">
        <div class="cart-content p-4">
          {{translator.getSentence('nothing-to-display')}}
        </div>
      </div>
    </div>
  </div>
</div>