<div *ngIf="this.auth.isAdmin()">
    <div class="cart">
        <div class="cart-title">
            <span>{{translator.getSentence('borrowings-from-users')}}</span>
            <div class="d-flex align-items-center">
                <a href="lendings/add" class="btn btn-primary">{{translator.getSentence('add-upper')}}</a>
            </div>
        </div>
        <div class="cart-content lending-content">
            <table app-list-table-lendings [lendings]="userLendings" class="table"></table>

        </div>
    </div>
</div>