form {
    margin: 2%
}
.btn {
    float: right;
    margin: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.75em;
    height: 2.125em;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625em;
    width: 1.625em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0c2941;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0c2941;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.625em);
    -ms-transform: translateX(1.625em);
    transform: translateX(1.625em);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125em;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 