<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('edit-entity')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/equipments">{{translator.getSentence('equipments-list')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('modify-upper')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-content p-4">
          <form [formGroup]="equipmentInstanceForm" (submit)="update()">
            <fieldset>
              <legend>{{translator.getSentence('entity-upper')}}</legend>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="formName">{{translator.getSentence('reference-upper')}}</label>
                    <input type="text" class="form-control" id="reference" formControlName="reference">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="formName">{{translator.getSentence('state-show')}} {{entity.state | titlecase}} </label>
                    <select formControlName="state" class="state row col-md-12 p-2 ml-1">
                      <option *ngFor="let key of keys" [value]="key" [label]="states[key]" selected="selected"></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <p>{{translator.getSentence('enabled-upper')}}</p>
                <label class="switch" for="enabled">
                  <input type="checkbox" id="enabled" formControlName="enabled">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="form-group">
                <p>{{translator.getSentence('available-upper')}}</p>
                <label class="switch" for="available">
                  <input type="checkbox" id="available" formControlName="available">
                  <span class="slider round"></span>
                </label>
              </div>
              <button class="btn btn-primary"
                [disabled]="!equipmentInstanceForm.valid">{{translator.getSentence('modify-upper')}}</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>