<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">{{translator.getSentence('entity-upper')}}</th>
    <th scope="col">{{translator.getSentence('loan-date')}}</th>
    <th scope="col">{{translator.getSentence('return-date')}}</th>
    <th scope="col">{{translator.getSentence('borrowers-upper')}}</th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let lending of lendings">
    <td>
      <fa-icon *ngIf="lending.entity" [icon]="faCube" class="item-icon"></fa-icon>
      <fa-icon *ngIf="lending.consumable" [icon]="faScrewdriver" class="item-icon"></fa-icon>
    </td>
    <td *ngIf="this.auth.isAdmin()">
      <div *ngIf="lending.entity"><a href="equipments/{{ lending.entity.equipment.id }}">{{
          lending.entity.equipment.name }}</a></div>
      <b><span *ngIf="lending.entity" class="entity-id">REF {{ lending.entity.reference }}</span></b>
      <div *ngIf="lending.consumable"><a href="consumables/{{ lending.consumable.id }}">{{ lending.lendingQuantity }}x
          {{ lending.consumable.name }}</a></div>
      <b><span *ngIf="lending.returned && lending.consumable"
          class="lending-item-returned-quantity">{{translator.getSentence('returned-show')}} {{
          lending.returnQuantity }}</span></b>
    </td>
    <td *ngIf="!this.auth.isAdmin()">
      <div *ngIf="lending.entity">{{ lending.entity.equipment.name }}</div>
      <b><span *ngIf="lending.entity" class="entity-id">{{translator.getSentence('entity-upper')}} {{ lending.entity.id
          }}</span></b>
      <div *ngIf="lending.consumable">{{ lending.lendingQuantity }}x {{ lending.consumable.name }}</div>
    </td>

    <td *ngIf="lending.lendingDatetime !== null" class="lending-item-date">{{
      lendingsService.getLendingDate(lending.lendingDatetime) }}</td>
    <td *ngIf="lending.lendingDatetime === null" class="lending-item-date">-</td>

    <td *ngIf="lending.returnDatetime !== null && lending.returned" class="lending-item-date">{{
      lendingsService.getLendingDate(lending.returnDatetime) }}</td>
    <td *ngIf="lending.returnDatetime !== null && !lending.returned" class="lending-item-date">
      <b>{{translator.getSentence('expected-show')}}</b> {{
      lendingsService.getLendingDate(lending.returnDatetime) }}
    </td>
    <td *ngIf="lending.returnDatetime === null" class="lending-item-date">-</td>

    <td class="users-lending">
      <span *ngIf="lending.userLending">{{ lending.userLending.firstName }} {{ lending.userLending.lastName }}</span>
      <span *ngIf="lending.userReturn"> / {{ lending.userReturn.firstName }} {{ lending.userReturn.lastName }}</span>
    </td>

    <td class="lending-item-actions" style="white-space: nowrap" *ngIf="this.auth.isAdmin()">
      <a href="lendings/{{ lending.id }}" type="button" class="btn btn-primary btn-sm">Voir</a>
      <a *ngIf="!lending.returned" href="lendings/return/{{ lending.id }}" type="button"
        class="btn btn-success btn-sm ml-2">{{translator.getSentence('return-upper')}}</a>
      <button *ngIf="lending.returned" type="button" class="btn btn-danger btn-sm"
        (click)="deleteLending(lending)">{{translator.getSentence('delete-upper')}}</button>
    </td>
    <td *ngIf="!this.auth.isAdmin()">
      <span *ngIf="!lending.accepted"
        class="text-warning lending-item-status">{{translator.getSentence('pending-upper')}}</span>
      <span *ngIf="lending.accepted"
        class="text-success lending-item-status">{{translator.getSentence('accepted-upper')}}</span>
      <span *ngIf="lending.accepted && !lending.returned"
        class="text-info lending-item-status">{{translator.getSentence('in-progress')}}</span>
      <span *ngIf="lending.accepted && lending.returned"
        class="text-success lending-item-status">{{translator.getSentence('returned-upper')}}</span>
    </td>
  </tr>
</tbody>