@import "../../../variables.scss";

th:first-child, td:first-child {
  padding-left: 30px;
}

.users-lending {
  white-space: nowrap;
  font-size: 12px;
}

.lending-item-date {
  font-size: 12px;
}

.lending-item-returned-quantity {
  font-size: 12px;
}

.lending-item-status {
  font-size: 13px;
  padding: 0 7px;
  font-weight: 600;
}

.entity-id {
  font-size: 12px;
  text-transform: uppercase;
}

.item-icon {
  font-size: 20px;
  color: $primary;
}
