div {
    height: 100vh;;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        max-width: 50vh;
    }

    button {
        border: none;
        min-height: 3em;
        color: #F5F6FA;
        font-size: 16px;
    
        background: #0361AC 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
    
      }
}