<div class="container-fluid" *ngIf="(user | async) as user">
    <div class="row">
        <div class="col-12">
            <h1>{{translator.getSentence('see-user')}}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
                <li class="breadcrumb-item"><a href="users">{{translator.getSentence('users-list')}}</a></li>
                <li class="breadcrumb-item active">{{translator.getSentence('see-upper')}}</li>
            </ol>
        </div>
        <div class="col-12">
            <div class="cart">
                <div class="cart-content p-4">
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="user-firstname">{{translator.getSentence('name-show')}} {{ user.lastName
                                        }} {{ user.firstName }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a>{{translator.getSentence('email-show')}} {{ user.email }}</a>
                        </div>
                        <div class="form-group" *ngIf="user.phone">
                            <a>{{translator.getSentence('phone-show')}} {{user.phone}}</a>
                        </div>
                        <div class="form-group" *ngIf="!user.phone">
                            <a>{{translator.getSentence('phone-show')}} </a> <a
                                style="color: rgb(94, 94, 94);">{{translator.getSentence('user-doesnt-have-phone')}}</a>
                        </div>
                        <div class="form-group" *ngIf="user.git">
                            <label for="user-git">{{translator.getSentence('git-show')}} {{user.git}}</label>
                        </div>
                        <div class="form-group" *ngIf="!user.git">
                            <a>{{translator.getSentence('git-show')}} </a> <a
                                style="color: rgb(94, 94, 94);">{{translator.getSentence('user-doesnt-have-git')}}</a>
                        </div>
                        <div class="form-group" *ngIf="user.isAdmin">
                            <a>{{translator.getSentence('admin-upper')}}</a>
                        </div>
                        <div class="d-flex align-items-center mt-4">

                            <a href="users/{{ user.id }}/edit" type="button"
                                class="btn btn-primary btn-sm">{{translator.getSentence('modify-upper')}}</a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <app-user-lendings></app-user-lendings>
        </div>

    </div>

</div>