<!-- <div class="col-12">
        <div class="cart">
            <div class="cart-content p-4">
            <form [formGroup]="lendingForm">
                <fieldset class="mt-5">
            <div *ngFor="let element of cart">

                <legend *ngIf="this.auth.isAdmin()">Register a new lending</legend>
                <legend *ngIf="!this.auth.isAdmin()">Request an equipment lending</legend> -->
<!-- <div class="row pt-3" *ngIf="type == 'equipment'">
                    <div class="col">
                    <div class="form-group pt-2" >
                        <label for="entity">Entity</label>
                        <ng-select2 [data]="entitySelect" width="100%" id="entity" formControlName="entity"></ng-select2>
                    </div>
                    </div>
                    <div class="col">
                    <div class="form-group pt-2" *ngIf="this.auth.isAdmin()">
                        <label for="stateLending">State</label>
                        <select class="form-control" id="stateLending" formControlName="stateLending">
                        <option *ngFor="let state of states; let isFirst = first" [ngValue]="state.id">{{ state.name }}</option>
                        </select>
                    </div>
                    </div>
                </div> -->
<!-- <div class="row pt-3" *ngIf="type == 'consumable'">
                    <div class="col">
                    <div class="form-group pt-2" >
                        <label for="consumable">Consumable</label>
                        <ng-select formControlName="consumable" [typeahead]="consumablesTypeahead" id="consumable">
                        <ng-option *ngFor="let consumable of consumables" [value]="consumable.id" >{{consumable.name}}</ng-option>
                        </ng-select>
                    </div>
                    </div>
                    <div class="col">
                    <div class="form-group pt-2">
                        <label for="lendingQuantity">Quantity</label>
                        <input type="number" id="lendingQuantity" formControlName="lendingQuantity" class="form-control" />
                    </div>
                    </div>
                </div> -->
<!-- <div class="row pt-3">
                    <div class="col" *ngIf="this.auth.isAdmin()">
                    <div class="form-group">
                        <label for="user">User</label>
                        <ng-select formControlName="user" [typeahead]="userTypeahead" id="user">
                        <ng-option *ngFor="let user of users" [value]="user.id" >{{user.firstName | titlecase}} {{user.lastName | uppercase}}</ng-option>
                        </ng-select>
                    </div>
                    </div>
                    <div class="col">
                    <div class="form-group">
                        <label for="project">Project</label>
                        <ng-select formControlName="project" [typeahead]="projectsTypeahead" id="project">
                        <ng-option *ngFor="let project of projects" [value]="project.id" >{{project.name}}</ng-option>
                        </ng-select>
                    </div>
                    </div>
                </div> -->
<!-- <div class="row pt-2" >
                    <div class="col">
                        <div class="form-group">
                            <label>Lending date</label>
                            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" placeholder="" formControlName="lendingDatetime">
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Expected return date</label>
                            <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control" placeholder="" formControlName="returnDatetime">
                            <owl-date-time #dt2></owl-date-time>
                        </div>
                    </div>
                </div> -->
<!-- <div class="form-group pt-2">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" formControlName="commentLending" rows="5"></textarea>
                </div> -->
<!-- </div>
                <button type="submit" class="btn btn-primary mt-2" (click)="submit()">Submit</button>
                </fieldset>
            </form>
            </div>
        </div>
</div> -->
<div class="cards_cart">
    <div *ngFor="let e of equipmentsInCart; let i = index;" class="card_cart">
        <div class="card_delete">
            <img src="../../assets/images/delete-card.png" alt="delete" (click)="deleteFromCart(e, i)">
        </div>
        <div class="card_img">
            <img src="{{restBaseUri + e.image.contentUrl}}" alt="Card image cap">
        </div>
        <div class="card_body">
            <div class="body_header">
                <div class="img_type">
                    <img *ngIf="e.type == 'EQUIPMENT'" src="../../assets/images/equipment_blue.png"
                        alt="{{translator.getSentence('equipment-upper')}}">
                    <img *ngIf="e.type == 'CONSUMABLE'" src="../../assets/images/Consumables_bleu.png"
                        alt="{{translator.getSentence('consumable-upper')}}">
                </div>
                <h5 class="card-title">{{e.name}}</h5>
            </div>
            <span class="quantity">"{{translator.getSentence('quantity-show')}} {{cart[i].quantity}}</span>
        </div>
        <div class="update_quantity">
            <fa-icon class="update_button" [icon]="faMinusCircle" (click)="updateQuantity(i, -1)"></fa-icon>
            <fa-icon class="update_button" [icon]="faPlusCircle" (click)="updateQuantity(i, 1)"></fa-icon>
        </div>
    </div>
</div>

<form [formGroup]="lendingForm">

    <div class="form_body">
        <div class="form_content">
            <div class="col" *ngIf="this.auth.isAdmin()">
                <div class="form-group">
                    <label for="user">{{translator.getSentence('user-upper')}}</label>
                    <ng-select formControlName="user" [typeahead]="userTypeahead" id="user">
                        <ng-option *ngFor="let user of users" [value]="user.id">{{user.firstName | titlecase}}
                            {{user.lastName | uppercase}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="row pt-2 dates_input">
                <div class="col">
                    <div>
                        <input [min]="todayDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                            class="form_input form-control" placeholder="{{translator.getSentence('lending-date')}}"
                            formControlName="lendingDatetime">
                        <owl-date-time #dt1></owl-date-time>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <input [min]="todayDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                            class="form_input form-control" placeholder="{{translator.getSentence('return-date')}}"
                            formControlName="returnDatetime">
                        <owl-date-time #dt2></owl-date-time>
                    </div>
                </div>
            </div>
            <div>
                <label for="comment">{{translator.getSentence('comment-upper')}}</label>
                <textarea class="form-control form_textarea" id="comment" formControlName="commentLending"
                    rows="5"></textarea>
            </div>
        </div>
        <!-- <input type="hidden" name="equipmentId" formControlName="equipmentId"> -->
        <!-- <button type="button" class="btn btn-primary mt-2" title="Supprimer" (click)="deleteFromCart(i)">Supprimer</button> -->
        <!-- Exposed item name: {{ lendingForm.controls.lending.controls[i].controls.name.value }} -->
        <div class="submit_button">
            <button type="submit" class="form_button"
                (click)="submit()">{{translator.getSentence('submit-upper')}}</button>
        </div>
    </div>

</form>