.cards_cart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .card_cart {
        border-radius: 15px;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 20vw;
        min-width: 200px;
        max-width: 270px;
        min-height: 300px;
        max-height: 400px;
        margin-right: 20px;
        margin-bottom: 20px;
        background: white;
        &.new {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .card_delete {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            cursor: pointer;
        }
        .card_see_more {
            position: absolute;
            top: 7px;
            left: 7px;
            z-index: 1;
            color: #3173B9;
            cursor: pointer;
        }
        .card_img {
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            img {
                height: auto;
                width: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .card_body {
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .body_header {
                display: flex;
                align-items: center;
                .img_type {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .card-title {
            margin-bottom: unset;
            font-size: 16px;
            word-break: break-word;
        }
        .update_quantity {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .update_button {
                cursor: pointer;
                color: #3173B9;
                transform: scale(1.5);
            }
        }
    }
}

form {
    max-width: 1000px;
    .form_body {
        width: 100%;
        display: flex;
        background: white;
        border-radius: 15px;
        padding: 10px;
        .form_content {
            width: 80%;
            .dates_input {
                margin-bottom: 10px;
            }
        }
        .submit_button {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: 10px;
            button {
                padding: 10px 15px;
            }
        }
    }
    
}