<div class="container-fluid" *ngIf="(stockPlace | async) as stockPlace">
  <div class="row">
    <div class="col-12">
      <h1>{{stockPlace.name}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item"><a href="/stock-place">{{translator.getSentence('stock-places')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('detail-stock-places')}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-title text-right">
          <span>{{translator.getSentence('stock-place')}} #{{stockPlace.id}}</span>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary mx-2" routerLink="/stock-place/{{stockPlace.id}}/edit">
              {{translator.getSentence('modify-upper')}}
            </button>
          </div>
        </div>
        <div class="cart-content">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-title px-4 pb-4">
                <h3 class="card-title">{{stockPlace.name}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('consumables-upper')}}</span>
        </div>
        <div class="cart-content" style="padding: 10px">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{translator.getSentence('name-upper')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of consumables">

                <td>
                  <div class="item-image-profile">
                    <img src="{{restBaseUri + element.image.contentUrl}}"
                      alt="{{translator.getSentence('illustration-of')}} {{element.name}}" *ngIf="element.image">
                  </div>
                </td>
                <td class="text-info">{{element.name}}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/consumables', element.id]">
                    {{translator.getSentence('see-upper')}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of consumablesPages"
              class="btn btn-sm btn-secondary {{ (n+1) === consumablesPage ? 'active' : '' }}"
              (click)="updatePage(n+1, 'consumables')">{{ n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('equipments-upper')}}</span>
        </div>
        <div class="cart-content" style="padding: 10px">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{translator.getSentence('name-upper')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of equipments">

                <td>
                  <div class="item-image-profile">
                    <img src="{{restBaseUri + element.image.contentUrl}}"
                      alt="{{translator.getSentence('illustration-of')}} {{element.name}}" *ngIf="element.image">
                  </div>
                </td>
                <td class="text-info">{{element.name}}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/equipments', element.id]">
                    {{translator.getSentence('see-upper')}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of equipmentsPages"
              class="btn btn-sm btn-secondary {{ (n+1) === equipmentsPage ? 'active' : '' }}"
              (click)="updatePage(n+1, 'equipemnts')">{{ n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>