<div class="card mx-2 mt-2" style="cursor: pointer;" routerLink="/lendings/{{lending.id}}">
  <div *ngIf="this.auth.isAdmin()" class="actions justify-content-between w-100">
    <button *ngIf="!lending.returned" class="accept" routerLink="/lendings/return/{{lending.id}}}"><span
        class="material-symbols-outlined">EDIT</span></button>
    <button *ngIf="!lending.returned" class="delete" (click)="deleteLending(lending.id)"><span
        class="material-symbols-outlined">DELETE</span></button>
  </div>
  <div class="content p-3">
    <div class="top">
      <i *ngIf="lending.entity" class="fa-solid fa-cube fa-" style="font-size: 64px;"></i>
      <i *ngIf="lending.consumable" class="fa-solid fa-screwdriver-wrench fa-" style="font-size: 64px;"></i>
    </div>
    <div class="bottom">
      <span class="text-danger" *ngIf="!lending.accepted">({{translator.getSentence('pending-upper')}})</span>
      <span class="text-success" *ngIf="lending.returned">({{translator.getSentence('retuned-upper')}})</span>
      <span class="text-warning"
        *ngIf="lending.accepted && !lending.returned">({{translator.getSentence('in-progress')}})</span>
      <div class="d-flex flex-wrap">
        <p><i>Emprunt: {{service.getLendingDate(lending.lendingDatetime)}}</i></p>
        <p class="entity_count" *ngIf="lending.userLending">{{translator.getSentence('by-show')}}
          {{lending.userLending.lastName.toUpperCase()}}
          {{lending.userLending.firstName.substr(0,1).toUpperCase()}}</p>
      </div>
      <div class="d-flex flex-wrap">
        <p *ngIf="lending.userReturn"><i>{{translator.getSentence('return-show')}} {{service.getLendingDate(lending.returned)}}</i></p>
        <p class="entity_count" *ngIf="lending.userReturn">{{translator.getSentence('by-show')}}
          {{lending.userReturn.lastName.toUpperCase()}}
          {{lending.userReturn.firstName.substr(0,1).toUpperCase()}}</p>
      </div>
      <!-- <p class="entity_count" *ngIf="!lending.returned">{{lending.commentLending}} </p>
          <p class="entity_count" *ngIf="lending.returned">{{lending.commentReturn}} </p> -->
    </div>
  </div>
</div>