<div [ngClass]="{ 'container-fluid': !showEquipmentConsumablesOnly }">
  <div class="row">

    <div class="col-12" *ngIf="!showEquipmentConsumablesOnly">
      <h1>{{translator.getSentence('equipments-upper')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('equipments-list')}}</li>
      </ol>
    </div>

    <div class="col-12">
      <div>
        <div class="cart-content px-4 py-2 table-responsive">
          <div *ngIf="!showEquipmentConsumablesOnly && this.auth.isAdmin()" routerLink="add" class="card add mx-2 mt-2">
            <div class="round">
              <span class="material-symbols-outlined">
                ADD
              </span>
            </div>
          </div>

          <div class="card mx-2 mt-2" *ngFor="let element of equipments" >
            <div *ngIf="this.auth.isAdmin()" class="actions justify-content-between w-100">
              <button class="edit" routerLink="/equipments/{{element.id}}/edit"><span
                  class="material-symbols-outlined">EDIT</span></button>
              <button class="delete" (click)="onDeleteClick(element.id)"><span
                  class="material-symbols-outlined">DELETE</span></button>
            </div>
            <div class="content p-3">
              <div class="top">
                <img onError="this.src='/assets/images/not-available.png'"
                  src="{{restBaseUri + element.image.contentUrl}}" alt="Illustration of {{element.name}}"
                  *ngIf="element.image">
                <img src="/assets/images/not-available.png" alt="Aucune image" *ngIf="!element.image">
              </div>
              <div class="bottom">
                <p class="name">{{ element.name }}</p>
                <p class="entity_count">{{ element.entitiesAvailable }} {{translator.getSentence('available-items')}}
                </p>
                <button type="button" *ngIf="element.entitiesAvailable > 0" class="btn btn-info"
                  routerLink="/lendings/add/equipment/{{element.id}}">{{translator.getSentence('borrow-upper')}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of equipmentPages"
              class="btn btn-sm btn-secondary {{ (n+1) === equipmentPage ? 'active' : '' }}"
              (click)="updatePage(n+1)">{{ n+1 }}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>