<div class="main_content">
  <div class="header">
    <div class="title">
      <img src="{{lists.image}}" alt="{{lists.title}}">
      <h1>{{lists.title}}</h1>
    </div>
    <h2 class="subtitle">{{translator.getSentence('lyon-ynov-campus')}}</h2>
    <div class="new" *ngIf="this.auth.isAdmin()">
      <img src="../../../assets/images/new.png" alt="">
    </div>
  </div>
  <!-- <ng-select class="search_tags">
      <ng-option *ngFor="let tag of tags" [value]="tag.id" >{{tag.name}}</ng-option>
    </ng-select> -->
  <div class="cards">
    <div class="card new" *ngIf="this.auth.isAdmin()" routerLink="/{{lists.add}}">
      <img src="../../../assets/images/new.png" alt="">
    </div>
    <div class="card" *ngFor="let e of items">
      <div class="card_see_more" routerLink="{{e.url}}">
        <fa-icon [icon]="faSearch" class="nav-item-icon"></fa-icon>
      </div>
      <div class="card_delete" *ngIf="this.auth.isAdmin()" (click)="deleteEntity(e.id)">
        <img src="../../../assets/images/delete-card.png" alt="delete">
      </div>
      <div class="add_to_cart" (click)="addToCart(e.id)">
        <img src="../../../assets/images/panier.svg" alt="panier">
      </div>
      <div class="card_img">
        <img src="{{restBaseUri + e.image.contentUrl}}" alt="{{e.name}}">
      </div>
      <div class="card_content" routerLink="{{e.url}}">
        <div class="card_name">
          {{e.name}}
        </div>
        <div class="card_quantity">
          {{translator.getSentence('quantity-show')}} {{e.quantity}}
        </div>
        <!-- <div class="add_to_cart">
            <button (click)="addToCart($event)"></button>
          </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="carousel_points">
        <span class="previous" (click)="slide('PREVIOUS')"></span>
        <span class="actual" (click)="slide('')"></span>
        <span class="next" (click)="moveRight()"></span>
    </div> -->
</div>