.main_content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        flex-direction: column;
        .title {
            display: flex;
            align-items: center;
            height: 40px;
            img {
                height: 100%;
            }
            h1 {
                font-size: 20px;
                margin-bottom: unset;
                margin-left: 10px;
            }
        }
        .subtitle {
            font-size: 16px;
            color: #161615;
        }
        .new {
            display: none;
            img {
                height: 100%;
            }
        }
    }
    
    .search_tags {
        padding: 0 10px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .card {
            height: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 20vw;
            min-width: 200px;
            max-width: 270px;
            min-height: 300px;
            max-height: 400px;
            margin-right: 20px;
            margin-bottom: 20px;
            &.new {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .card_delete {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                cursor: pointer;
            }
            .add_to_cart {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                cursor: pointer;
                border: 1px solid #3173B9;
                border-radius: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                img {
                    width: 100%;
                }
            }
            .card_see_more {
                position: absolute;
                top: 7px;
                left: 7px;
                z-index: 1;
                color: #3173B9;
                cursor: pointer;
            }
            .card_img {
                height: 60%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .card_content {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .carousel_points {
        display: flex;
        justify-content: space-around;
        span {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #3173B9;
            &.actual{
                width: 20px;
                height: 20px;
                background-color: #3173B9;
            }
        }
    }
}


@media (max-width: 1250px) {
    .main_content {
        .cards {
        }
    }

}

