<div class="button-container">
    <div class="current-language">
        {{translator.local}}
    </div>
    <fa-icon [icon]="faChevronDown" class="nav-item-icon"></fa-icon>
    <div class="sub-nav">
        <div *ngFor="let el of translator.availableLocalsExceptCurrent" class="sub-item"
            (click)="changeLanguage(el.prefix)">
            <div class="sub-item-name">{{el.name}}</div>
        </div>
    </div>
</div>