@import "../../../variables";

.button-container {

    height: 100%;
    min-width: 100px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    .current-language {
        flex: 1;
        color: $light-grey;
        font-weight: 500;
        font-size: 13px;
        margin-right: 10px;
    }

    .sub-nav {
        display: none;
        overflow: hidden;
        min-width: 100%;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        box-shadow: 2px 0 7px rgba(155, 171, 197, 0.1);
        border-radius: 7px;

        .sub-item {
            padding: 10px;
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: $light-grey;
            transition: color .3s;

            .nav-item-icon {
                margin-right: 10px;
            }

            &:hover {
                color: $primary;
            }
        }
    }

    &:hover .sub-nav {
        display: block;
    }


}