.List_form {
  font-family:'Montserrat-Regular', sans-serif;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.form-group-top{
  display: flex;
  justify-content:space-between;
}

#description{
  padding: 0 20px;
  min-width: 100px;
  height:150px;
  line-height:30px;
}

.btn-form{
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7.5em;
  height: 2.125em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3173B9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3173B9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(5.350em);
  -ms-transform: translateX(5.350em);
  transform: translateX(5.350em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125em;
}

.slider.round:before {
  border-radius: 50%;
}


#formName {
  resize: horizontal;
  width: 400px;
}

#formQuantity{
  resize: horizontal;
  width: 100px;
}

#formName:focus {
  min-width: 200px;
}
