<div id="component_form">
  <div class="title_logo">
    <img src="assets/images/logo_equipements.svg" alt="logo_equipements">
    <h1>{{translator.getSentence('consumables-upper')}}</h1>
  </div>

  <h2>{{translator.getSentence('lyon-ynov-campus')}}</h2>
  <div class="content">
    <div class="List_form">
      <div class="cart-content p-4">
        <form [formGroup]="consumableForm" (submit)="submit()">
          <fieldset>
            <div class="form-group-top">
              <input id="formName" type="text" class="form-control" formControlName="name"
                placeholder="{{translator.getSentence('name-upper')}}">
              <input (keypress)="numberOnly($event)" value="0" type="number" name="Quantity" id="formQuantity"
                formControlName="quantity" placeholder="{{translator.getSentence('quantity-upper')}}">
              <label class="switch" for="enabled" *ngIf="!isEditForm">
                <input type="checkbox" id="enabled" formControlName="enabled">
                <span class="slider round"></span>
              </label>
            </div>

            <br>
            <div class="form-group">
              <textarea class="form-control" type="text" id="description" formControlName="description" rows="3"
                placeholder="{{translator.getSentence('description-upper')}}"></textarea>
              <label *ngIf="this.consumableForm.controls.description.hasError('required')">
                {{translator.getSentence('enter-description')}}
              </label>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01" accept="image/*"
                    (change)="handleFileInput($event.target.files)">
                  <label class="custom-file-label"
                    for="inputGroupFile01">{{translator.getSentence('consumable-image')}}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12 row">
                  <select class="custom-select col-6" id="stockPlaceSelect" formControlName="stockPlace">
                    <option value="">Lieu de stockage</option>
                    <option [value]="stockPlace.id" *ngFor="let stockPlace of stockPlaces">{{ stockPlace.name }}
                    </option>
                  </select>
                  <div class="col-6 d-flex">
                    <input id="formQuantity" class="form-control form_input col-3" type="text" min="0"
                      formControlName="unity" placeholder="{{translator.getSentence('unit-upper')}}">

                  </div>
                </div>
              </div>
            </div>
            <div class="btn-form">
              <button class="custom_button" [disabled]="!consumableForm.valid">{{ isEditForm ?
                translator.getSentence('modify-upper') : translator.getSentence('add-upper')
                }}</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>