@import url('../variables.scss');
$primary: #3173B9;

.card {
  width: 20px;
}
.card {
  position: relative;
  width: 250px;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 150px;
  }
  .actions {
    position: absolute;
    display: none;
    > * {
      border: none;
      height: 50px;
      width: 50px;
      background-color: white;
      span {
        font-size: 30px;

      }
    }
    > *:hover {
      background: rgba($color: #000000, $alpha: 0.2);

    }
    .edit {
      border-radius: 7px 0 7px 0;
      color: $primary;
    }
    .delete {
      border-radius: 0 7px 0 7px;
      color:red;
    }
    .accept {
      border-radius: 7px 0 7px 0;
      color: $primary;
    }
  }
  .name {
    font-size: 20px;
  }
  .entity_count {
    font-size: 15px;
  }
  &:hover {
    transition: all 0.2s;
    box-shadow: 2px 2px 8px gray;
    cursor: pointer;
    .actions {
      display: flex;
    }
  }
}

.card.add {
  width: 250px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .round {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: gray 1px solid;
    border-radius: 50%;
    span {
      color: $primary
    }
  }
  &:hover {
    cursor: pointer;
  }
}

$card-width: 250;
@for $i from 1 through 10 {
    $min-width: $card-width * $i+300px+$card-width;
    @media all and (min-width: $min-width) {
        .cart-content {
            grid-template-columns: repeat($i, 1fr);
        }
    }
}

.cart-content {
    display: grid;
}
