.ext {
  width: 100%;
  display: flex;
  justify-content: center;
  // height: 81vh;
  align-items: center;
  .cart {
    border-radius: 25px;
    width: 35%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    height: 100%;
    .foot-button {
      display: flex;
      justify-content: space-around;
      margin-top: 6%;
    }
    .div-slid {
      display: flex;
      justify-content: center;
      margin-top: 8%;
    }
    .imput-quantity {
      display: flex;
      justify-content: space-between;
    }
    .form-quantity {
      width: 30%;
    }
    .form-consomable {
      width: 39%;
    }
    .form-comment {
      height: 180px;
      resize: none;
    }
    .txt-title {
      text-align: left;
      font: normal normal 900 24px/39px Montserrat;
      letter-spacing: -0.11px;
      margin-left: 5%;
      color: #161615;
    }
    .margin-select {
      margin-left: 5%;
      margin-top: 6%;
      margin-right: 5%;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 183px;
      height: 43px;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #3173B9;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 33px;
      width: 33px;
      left: 6px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked+.slider {
      background-color: #3173B9;
    }
    input:focus+.slider {
      box-shadow: 0 0 1px #3173B9;
    }
    input:checked+.slider:before {
      -webkit-transform: translateX(137px);
      -ms-transform: translateX(137px);
      transform: translateX(137px);
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    .button {
      border: none;
      min-height: 3em;
      color: #F5F6FA;
      font-size: 16px;
      background: linear-gradient(90deg, rgba(0, 80, 157, 1) 0%, rgba(0, 119, 190, 1) 50%, rgba(9, 155, 176, 1) 100%);
      border-radius: 10px;
      opacity: 1;
      height: 5vh;
      width: 11vh;
      font-family: 'Montserrat';
      font-weight: 500;
      &:hover {
        border: 2px solid rgba(0, 80, 157, 1);
        color: black;
        font-size: 16px;
        background: white;
      }
    }
  }
}
