<div class="ext">
  <div class="cart">
    <div style="margin-top: 10%;">
      <label class="txt-title" for="type">{{translator.getSentence('choose-loan-type')}}</label>

      <div class="div-slid">

        <div>

          <svg id="Groupe_228" data-name="Groupe 228" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="44.723" height="50" viewBox="0 0 44.723 50">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_93" data-name="Rectangle 93" width="44.723" height="50" fill="none" />
              </clipPath>
            </defs>
            <g id="Groupe_227" data-name="Groupe 227" clip-path="url(#clip-path)">
              <path id="Tracé_169" data-name="Tracé 169"
                d="M22.946,0c2.138,1.054,4.288,2.084,6.412,3.168,4.412,2.25,8.8,4.54,13.22,6.787a3.625,3.625,0,0,1,2.145,3.518q-.018,11.552,0,23.1A3.605,3.605,0,0,1,42.6,40.059q-9.2,4.7-18.372,9.45a3.773,3.773,0,0,1-3.717,0q-9.262-4.8-18.547-9.55A3.36,3.36,0,0,1,.006,36.78q-.011-11.771,0-23.543a3.36,3.36,0,0,1,1.958-3.18q9.344-4.8,18.686-9.6C21.008.272,21.4.15,21.773,0Zm19.08,11.6c-.109-.068-.148-.1-.192-.118C35.78,8.373,29.717,5.277,23.679,2.131a2.622,2.622,0,0,0-2.686.028C14.927,5.312,8.838,8.425,2.755,11.546a1.805,1.805,0,0,0-1.042,1.772q.016,11.7,0,23.4a1.832,1.832,0,0,0,1.1,1.788q9.26,4.745,18.5,9.518a2.112,2.112,0,0,0,2.119-.007q9.159-4.734,18.338-9.426a2.053,2.053,0,0,0,1.243-2.048C42.988,28.9,43,21.267,42.994,13.63v-.6c-.264.128-.45.213-.632.307q-9.325,4.775-18.652,9.544a.778.778,0,0,0-.5.811q.024,9.891.008,19.783a2.6,2.6,0,0,1-.073.673.821.821,0,0,1-1.568-.006,2.592,2.592,0,0,1-.071-.673q-.005-9.916.007-19.832a.716.716,0,0,0-.459-.743q-7.61-3.9-15.21-7.833c-.746-.385-.964-.8-.69-1.314s.727-.564,1.477-.177q7.625,3.926,15.243,7.863a.928.928,0,0,0,.977.01q7.234-3.731,14.486-7.429c1.545-.791,3.088-1.585,4.692-2.408"
                transform="translate(0)" fill="#0461ac" />
            </g>
          </svg>
        </div>
        <div>
          <label class="switch">
            <input *ngIf="!isDisabled" type="checkbox" name="checkbox" [(ngModel)]="isChecked"
              (click)="ChangedChecked(isChecked)">
            <input *ngIf="isDisabled" type="checkbox" name="checkbox" [(ngModel)]="isChecked" disabled>
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <svg id="Groupe_614" data-name="Groupe 614" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="49.026" height="50" viewBox="0 0 49.026 50">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_140" data-name="Rectangle 140" width="49.026" height="50" fill="#3173b9" />
              </clipPath>
            </defs>
            <g id="Groupe_451" data-name="Groupe 451" clip-path="url(#clip-path)">
              <path id="Tracé_1165" data-name="Tracé 1165"
                d="M150.5,216.139c-.877-.323-1.739-.7-2.635-.953a3.325,3.325,0,0,1-1.8-1.288c-3.379-4.42-6.788-8.817-10.188-13.221-.1-.127-.2-.25-.36-.449-.392.5-.768.954-1.122,1.428a2.513,2.513,0,0,1-2.7,1.024,2.56,2.56,0,0,1-1.469-4.016,20.556,20.556,0,0,1,6.572-5.945,22.755,22.755,0,0,1,3.073-1.468,2.513,2.513,0,0,1,3.337,1.507,2.557,2.557,0,0,1-1.56,3.286c-.537.216-1.062.462-1.647.719.937,1.216,1.827,2.373,2.718,3.529l4.742,6.142a2.889,2.889,0,0,1,.257.355.725.725,0,0,1-1.151.87,2.622,2.622,0,0,1-.247-.3q-3.637-4.714-7.274-9.428c-.1-.126-.2-.244-.343-.41l-2.129,1.642c.148.2.258.357.375.508q5.248,6.8,10.5,13.593a1.269,1.269,0,0,0,.526.39c.635.242,1.284.445,2.068.71-.276-1.128.133-2.279-.765-3.187a11.019,11.019,0,0,1-.959-1.231.736.736,0,1,1,1.156-.891c.534.677,1.065,1.357,1.576,2.05a1.2,1.2,0,0,1,.217.579c.1,1.183.173,2.368.273,3.552a1.022,1.022,0,0,1-.456.9ZM132.223,201.3a1.208,1.208,0,0,0,1.047-.588,15.9,15.9,0,0,1,4.547-4.293c1.055-.659,2.2-1.179,3.314-1.737a1.169,1.169,0,0,0,.761-1.177,1.056,1.056,0,0,0-.96-.953,2.41,2.41,0,0,0-.936.208,18.706,18.706,0,0,0-6.1,3.952,37.366,37.366,0,0,0-2.474,2.814,1.01,1.01,0,0,0-.1,1.189,1.061,1.061,0,0,0,.906.585"
                transform="translate(-112.792 -166.139)" fill="#3173b9" />
              <path id="Tracé_1166" data-name="Tracé 1166"
                d="M11.208,2.413c-.773-.287-1.631-.635-2.51-.918a.959.959,0,0,0-1.12.495A15.453,15.453,0,0,0,5.666,5.869c-.02.062-.042.123-.063.185-.2.624-.554.879-1,.729s-.59-.553-.394-1.177A16.742,16.742,0,0,1,6.326,1.232a2.486,2.486,0,0,1,3.231-1C14.8,2.164,19.933,4.379,25,6.747c2.1.981,2.492,2.1,1.885,4.171a18.185,18.185,0,0,1-2.353,5.115,2.474,2.474,0,0,1-3.069,1.008c-1.1-.4-2.191-.819-3.286-1.228a.633.633,0,0,0-.118,0l-1.685,4.3c.6.426.748.707.566,1.1-.237.507-.663.5-1.152.357l-.554,1.337c.379.245.748.521.537,1.046s-.65.514-1.133.4l-.567,1.328c.112.077.267.125.306.222.1.252.282.579.2.776a.883.883,0,0,1-.681.462c-.413-.031-.542.139-.655.458-.1.274-.227.537-.357.838.394.252.772.538.518,1.082-.227.488-.646.474-1.138.335l-.617,1.337c.432.223.817.494.594,1.049-.234.584-.721.5-1.228.364-.212.45-.417.889-.625,1.325a2.868,2.868,0,0,1-3.88,1.484q-2.091-.876-4.171-1.776A2.846,2.846,0,0,1,.653,29.918c.019-.06.03-.124.053-.219-.439-.211-.85-.465-.657-1.055.134-.409.44-.5,1.249-.4l.511-1.281c-.626-.475-.757-.738-.557-1.135.241-.477.646-.48,1.136-.323l.565-1.36c-.427-.238-.759-.53-.533-1.053.211-.489.628-.5,1.114-.365l.557-1.3a2.945,2.945,0,0,1-.481-.516.684.684,0,0,1,.7-1,.469.469,0,0,0,.6-.374c.1-.306.253-.6.391-.911-.411-.244-.758-.527-.53-1.054s.664-.495,1.148-.365l2.538-5.526c-1.066-.51-2.11-.991-3.136-1.508a4.156,4.156,0,0,1-.951-.663A.713.713,0,0,1,4.31,8.426c.307-.31.66-.231,1.09.032.868.528,1.781.98,2.618,1.433l3.19-7.478m1.549.561a33.659,33.659,0,0,0-3.2,7.547.341.341,0,0,0,.074.062q4.123,1.762,8.244,3.528c.278.12.377,0,.482-.215.381-.772.813-1.523,1.147-2.314.674-1.6,1.3-3.215,1.969-4.894l-8.72-3.713M9.787,12.3,7.34,17.626l7.591,2.156,1.77-4.541L9.787,12.3M22.85,7.368,19.684,14.8c.748.284,1.533.595,2.328.878a.99.99,0,0,0,1.247-.387,15.3,15.3,0,0,0,2.42-5.656.965.965,0,0,0-.518-1.153c-.782-.395-1.577-.764-2.311-1.117M9.587,32.177,2.2,30.073c-.478.952-.278,1.762.565,2.14q2.22.993,4.477,1.9a1.34,1.34,0,0,0,1.74-.662c.214-.4.388-.815.605-1.276M13.2,23.992c-.043-.052-.051-.072-.064-.076Q9.462,22.855,5.79,21.8a.344.344,0,0,0-.306.122c-.187.385-.34.787-.519,1.217l7.662,2.177.568-1.329M6.138,20.381l7.655,2.175.571-1.4c-2.475-.708-4.9-1.407-7.337-2.086a.466.466,0,0,0-.39.2c-.187.338-.322.7-.5,1.113M3.816,25.912c2.161.616,4.263,1.218,6.366,1.814,1.314.372,1.315.368,1.8-.919A.719.719,0,0,0,12,26.673L4.392,24.5l-.576,1.41M2.7,28.692l7.5,2.134.626-1.392L3.264,27.28,2.7,28.692"
                transform="translate(0 0)" fill="#3173b9" />
              <path id="Tracé_1167" data-name="Tracé 1167"
                d="M262.341,151.313c-.532-.386-.706-.75-.459-1.1.133-.187.453-.424.611-.377.635.189.724-.269.949-.729-.1-.077-.3-.149-.339-.272a1.1,1.1,0,0,1-.05-.727c.095-.191.438-.435.6-.389.631.184.738-.257.935-.682-.07-.062-.2-.12-.22-.206-.076-.278-.235-.625-.132-.833a.9.9,0,0,1,.734-.376.534.534,0,0,0,.622-.352c.433-.818.888-1.624,1.369-2.5-.392-.218-.772-.423-1.147-.638a.774.774,0,0,1-.354-1.215c.332-.615.666-1.229,1.018-1.832a3.565,3.565,0,0,1,4.807-1.43c1.323.667,1.364.8.65,2.1-.063.114-.121.23-.189.341-.172.282-.23.571.1.759.358.2.571-.024.732-.329.152-.287.311-.571.472-.853.329-.574.652-.651,1.248-.361a3.639,3.639,0,0,1,2.351,3.594,4.37,4.37,0,0,1-.419,1.533,21.374,21.374,0,0,1-1.024,1.883.766.766,0,0,1-1.184.34c-.373-.2-.739-.4-1.169-.642l-.909,1.642c.391.278.637.62.393,1.08s-.674.437-1.138.279l-.434.778c.112.09.29.161.322.274a1.279,1.279,0,0,1,.064.766c-.083.19-.438.433-.594.387-.63-.185-.732.26-.928.668.084.08.227.151.255.254.071.264.2.6.1.8a.859.859,0,0,1-.691.382.572.572,0,0,0-.673.345,3.037,3.037,0,0,1-4.4,1.25,3.157,3.157,0,0,1-1.874-3.612m8.288-12.307a1.97,1.97,0,0,0-2.546.373,15.256,15.256,0,0,0-1.089,1.738l7.221,3.978c.3-.558.608-1.055.833-1.589a2,2,0,0,0-.973-2.588c-1.09,1.478-1.932,1.823-2.974,1.22-1.017-.589-1.161-1.512-.472-3.133m.934,6.3-3.319-1.825-1.46,2.649,3.7,1.131,1.077-1.955m-7.749,6.4c-.208,1.018.4,1.8,1.623,2.166a1.553,1.553,0,0,0,1.935-1.079l-3.558-1.087m2.248-4.269-.441.807,2.974.912c.754.231.754.232,1.1-.488.012-.025,0-.061,0-.115l-3.637-1.115m2.489,3.24c-.984-.3-1.944-.594-2.9-.889-.789-.243-.789-.245-1.144.487-.011.022,0,.055.008.11.969.3,1.944.594,2.921.89.747.226.748.224,1.1-.49a.671.671,0,0,0,.019-.107"
                transform="translate(-227.623 -119.339)" fill="#3173b9" />
              <path id="Tracé_1168" data-name="Tracé 1168"
                d="M55.778,289.512c.126-.459.375-.755.872-.681.543.081.611.512.645.987l.827.171c.161-.419.381-.8.9-.707s.639.493.644,1.018a3.068,3.068,0,0,1,2.619,1.5,3.613,3.613,0,0,1,.446,1.755c-.112,2.143-.993,3.143-2.948,3.543-.08.454-.286.8-.818.772-.433-.019-.637-.3-.705-.994l-.835-.169c-.157.439-.387.781-.883.705-.546-.084-.647-.523-.643-1.007l-.853-.155c-.155.437-.383.772-.88.7-.558-.08-.624-.54-.678-1.013l-3.218-.623c-.093.442-.18.864-.271,1.286-.134.624-.433.831-1.04.712-.734-.144-1.472-.271-2.2-.443a3.569,3.569,0,0,1-2.707-4.1c.251-1.475.343-1.54,1.8-1.265a1.707,1.707,0,0,0,.621.085c.171-.037.429-.214.436-.341a.632.632,0,0,0-.3-.512,7.308,7.308,0,0,0-1.14-.248c-.69-.143-.871-.406-.765-1.1a3.644,3.644,0,0,1,4.145-3.435c.756.106,1.5.272,2.251.431a.748.748,0,0,1,.679,1.015c-.078.414-.156.828-.247,1.307l.9.174.885.175a2.927,2.927,0,0,1,.408-.562c.355-.3,1.034-.135,1.07.308.054.665.471.659.97.707m-9.5-.413c1.74.614,2.327,1.223,2.115,2.317a2.478,2.478,0,0,1-.594,1.136,2.142,2.142,0,0,1-2.254.4,1.981,1.981,0,0,0,1.06,2.3,15.032,15.032,0,0,0,2.067.551l1.559-8.064c-2.459-.743-3.524-.172-3.953,1.364m7.173,5.337c0-1.24.006-2.425-.011-3.61a.394.394,0,0,0-.238-.288c-.629-.141-1.265-.25-1.945-.378l-.715,3.713,2.908.562m6.278-2.6v3.732c1.033-.115,1.626-.993,1.572-2.25a1.54,1.54,0,0,0-1.572-1.482m-2.382-.5v3.848l.869.151v-3.827l-.869-.172m-2.374-.464v3.846l.846.173v-3.852l-.846-.167"
                transform="translate(-38.262 -248.624)" fill="#3173b9" />
              <path id="Tracé_1169" data-name="Tracé 1169"
                d="M253.758,40.528c-.883,3.233-1.744,6.382-2.605,9.531-.253.925-.5,1.853-.772,2.77a1.523,1.523,0,0,1-.392.646c-.593.556-1.211,1.088-1.832,1.613a.747.747,0,0,1-1.32-.367c-.27-.783-.541-1.568-.768-2.364a1.572,1.572,0,0,1,.016-.8q1.615-5.976,3.255-11.946c.017-.061.027-.123.064-.292-.348,0-.663,0-.978,0a2.06,2.06,0,1,1-.09-4.112,15.508,15.508,0,0,1,8.407,2.283,2.064,2.064,0,1,1-2.169,3.5c-.248-.148-.5-.285-.816-.463m-2.859-.975c-.061.2-.112.347-.153.5-1.031,3.759-2.042,7.523-3.106,11.273a3.3,3.3,0,0,0,.334,2.115c.425-.525.949-.9,1.089-1.388,1.111-3.871,2.149-7.763,3.207-11.649.037-.136.055-.276.089-.453l-1.459-.4m-1.973-2.87a4.684,4.684,0,0,0-.73.007.585.585,0,0,0,.066,1.164c.081,0,.163,0,.244,0a13.3,13.3,0,0,1,6.786,1.855c.084.049.176.154.249.141a1.427,1.427,0,0,0,.724-.211.5.5,0,0,0-.106-.77,2.9,2.9,0,0,0-.448-.294,14.406,14.406,0,0,0-6.785-1.892"
                transform="translate(-213.931 -30.614)" fill="#3173b9" />
            </g>
          </svg>
        </div>
      </div>
    </div>
    <form [formGroup]="lendingForm">
      <fieldset style="margin-top: 15%;">
        <legend *ngIf="this.auth.isAdmin()" class="txt-title">{{translator.getSentence('new-loan')}}</legend>
        <legend *ngIf="!this.auth.isAdmin()" class="txt-title">{{translator.getSentence('new-loan-demand')}}</legend>
        <div class="margin-select" *ngIf="type == 'equipment'">
          <div class="">
            <div class="">
              <ng-select formControlName="entity" placeholder="{{translator.getSentence('equipment-upper')}}"
                [typeahead]="entitiesTypeahead" id="entity">
                <ng-option *ngFor="let entity of entities" [value]="entity.id">{{entity.equipment.name}} -
                  {{entity.reference}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="margin-select" *ngIf="type == 'consumable'">
          <div class="imput-quantity">
            <ng-select formControlName="consumable" placeholder="{{translator.getSentence('consumable-upper')}}"
              [typeahead]="consumablesTypeahead" id="consumable" class="form-consomable">
              <ng-option *ngFor="let consumable of consumables" [value]="consumable.id">{{consumable.name}}</ng-option>
            </ng-select>
            <input type="number" id="lendingQuantity" formControlName="lendingQuantity"
              class="form-control form-quantity" />
          </div>
        </div>
        <div class="margin-select">
          <div class="" *ngIf="this.auth.isAdmin()">
            <div class="">
              <ng-select formControlName="user" placeholder="{{translator.getSentence('user-upper')}}"
                [typeahead]="userTypeahead" id="user">
                <ng-option *ngFor="let user of users" [value]="user.id">{{user.firstName | titlecase}} {{user.lastName |
                  uppercase}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="">
          <div class="margin-select">
            <div class="">
              <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control"
                placeholder="{{translator.getSentence('lending-date')}}" formControlName="lendingDatetime">
              <owl-date-time #dt1></owl-date-time>
            </div>
          </div>
          <div class="margin-select" style="margin-top: 2%;">
            <div class="">
              <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control"
                placeholder="{{translator.getSentence('expected-return-date')}}" formControlName="returnDatetime">
              <owl-date-time #dt2></owl-date-time>
            </div>
          </div>
        </div>
        <div class="margin-select">
          <textarea class="form-control form-comment" id="comment"
            placeholder="{{translator.getSentence('comment-upper')}}  " formControlName="commentLending" rows="1">
                      <div class="fake-placeholder"></div>
                    </textarea>
        </div>
        <div class="foot-button">
          <button class="button button2" type="submit"
            (click)="submit()">{{translator.getSentence('validate-upper')}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>