<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{consumable.name}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/consumables">{{translator.getSentence('consumables-list')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('consumable-detail-show')}} {{consumable.name}}</li>
      </ol>
    </div>
    <div class="col-12">
      <div class="cart">
        <div class="cart-title">
          <span>{{consumable.name}} #{{consumable.id}}</span>
          <div class="d-flex align-items-center">
            <!--<div class="d-flex align-items-center mr-4" *ngIf="this.auth.isAdmin()">
              <label class="switch">
                <input type="checkbox" id="check" (change)="onEnabledChange(consumable.enabled)"
                  [checked]="consumable.enabled">
                <span class="slider round"></span>
              </label>
              <label for="check" *ngIf="consumable.enabled == true"
                class="mb-0">{{translator.getSentence('enabled-upper')}}</label>
              <label for="check" *ngIf="consumable.enabled != true"
                class="mb-0">{{translator.getSentence('disabled-upper')}}</label>
            </div>-->
            <button type="button" class="btn btn-primary mx-2" routerLink="edit"
              *ngIf="this.auth.isAdmin()">{{translator.getSentence('modify-upper')}}</button>
            <button type="button" class="btn btn-danger mx-2" (click)="onDeleteClick(consumable.id)"
              *ngIf="this.auth.isAdmin()">{{translator.getSentence('delete-upper')}}</button>
            <button type="button" class="btn btn-info mx-2" routerLink="/lendings/add/consumable/{{consumable.id}}"
              *ngIf="this.auth.isAdmin()">{{translator.getSentence('borrow-upper')}}</button>
          </div>
        </div>
        <div class="cart-content pl-4 pr-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <img src="{{restBaseUri + consumable.image.contentUrl}}"
                alt="{{translator.getSentence('illustration-of')}} {{consumable.name}}" class='card-img-top'
                *ngIf="consumable.image" />
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-10">
              <div class="d-flex flex-wrap mb-4">
                <div *ngIf="this.auth.isAdmin() && consumable.stockPlace != null" class="card mr-2 mb-2">
                  <div class="card-body">
                    <h5 class="card-title">{{translator.getSentence('stock-place')}}</h5>
                    <h6 class="card-subtitle text-muted">{{consumable.stockPlace.name}}</h6>
                  </div>
                </div>
                <div class="card mr-2 mb-2">
                  <div class="card-body">
                    <h5 class="card-title">{{translator.getSentence('quantity-upper')}}</h5>
                    <h6 class="card-subtitle text-muted">{{consumable.quantity}}</h6>
                  </div>
                </div>
                <div class="card mr-2 mb-2">
                  <div class="card-body">
                    <h5 class="card-title">{{translator.getSentence('unit-upper')}}</h5>
                    <h6 class="card-subtitle text-muted">{{consumable.unity}}</h6>
                  </div>
                </div>
                <div class="card mr-2 mb-2">
                  <div class="card-body" *ngIf="consumable.description">
                    <h5 class="card-title">{{translator.getSentence('description-upper')}}</h5>
                    <h6 class="card-subtitle text-muted">{{consumable.description}}</h6>
                  </div>
                </div>
                <div class="card mr-2">
                  <div class="card-body">
                    <h5 class="card-title">{{translator.getSentence('categories-upper')}}</h5>
                    <div class="card-subtitle">
                      <div class="d-flex flex-wrap">
                        <div *ngFor="let element of consumable.tags" class="mr-1 mb-1">
                          <span class="badge p-2" style="background-color: {{ element.color }}; color: white; ">{{
                            element.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4" *ngIf="this.auth.isAdmin()">
                <h4 class="mb-0 mr-4">{{translator.getSentence('tags-upper')}}</h4>
                <ng-multiselect-dropdown [placeholder]="'add tags'" [data]="dropdownList" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings" (onSelect)="updateTags()" (onDeSelect)="updateTags()"
                  (onSelectAll)="updateTags()">
                </ng-multiselect-dropdown>
                <app-tag-input></app-tag-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="this.auth.isAdmin()">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('in-out')}}</span>
          <input type="number" class="form-control" placeholder="Quantité" [(ngModel)]="quantity">&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" *ngIf="this.auth.isAdmin()"
            (click)="inRequest()">{{translator.getSentence('in-upper')}}</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" *ngIf="this.auth.isAdmin()"
            (click)="outRequest()">{{translator.getSentence('out-upper')}}</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-equipments-list [consumableId]="consumable.id"></app-equipments-list>
    </div>
  </div>
</div>