<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('in-out-management')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('in-out-management')}}</li>
      </ol>
    </div>

    <div class="col-12">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('entrance-exit-history')}}</span>
          <div class="d-flex align-items-center">
            <div class="form-group table-search mr-0">
              <select class="form-control" [(ngModel)]="selectedState" (change)="filter()">
                <option value="State">{{translator.getSentence('type-upper')}}</option>
                <option [ngValue]="true">{{translator.getSentence('in-upper')}}</option>
                <option [ngValue]="false">{{translator.getSentence('out-upper')}}</option>
              </select>
            </div>
            <div class="form-group table-search mr-0">
              <select class="form-control" [(ngModel)]="selectedConsumable" (change)="filter()">
                <option value="Consommables">{{translator.getSentence('consumables-upper')}}</option>
                <option *ngFor="let o of consumables" [value]="o.name">{{o.name}}</option>
              </select>
            </div>
            <a routerLink="/in-out-consumables/add" type="button"
              class="btn btn-success">{{translator.getSentence('add-upper')}}</a>
          </div>
        </div>
        <div class="cart-content pl-4 pr-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{translator.getSentence('type-upper')}}</th>
                <th scope="col">{{translator.getSentence('name-upper')}}</th>
                <th scope="col">{{translator.getSentence('quantity-upper')}}</th>
                <th scope="col">{{translator.getSentence('date-upper')}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consumable of filtredInOutConsumableList">
                <td *ngIf="consumable.entrance === true"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-arrow-right" color="green" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </td>
                <td *ngIf="consumable.entrance === false"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-arrow-left" color="red" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                  </svg>
                </td>
                <td>{{consumable.consumable.name}}</td>
                <td>{{consumable.quantity}}</td>
                <td>{{consumable.date | date }}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm"
                    (click)="delete(consumable)">{{translator.getSentence('delete-upper')}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end pr-5 pb-3">
          <div class="btn-group" role="group" aria-label="First group">
            <button *ngFor="let n of elementsPages"
              class="btn btn-sm btn-secondary {{ (n+1) === elementsPage ? 'active' : '' }}" (click)="updatePage(n+1)">{{
              n+1 }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>