.form_input {
    border: none;
    border-bottom: 2px solid rgb(175, 171, 171);
}

.form_textarea {
    border: 2px solid rgb(175, 171, 171);
}

.form_button {
    border: none;
    min-height: 3em;
    border: 1px solid rgb(175, 171, 171);
}

.form_select {
    border: 1px solid rgb(175, 171, 171);
}



.form_button {
    border: none;
    min-height: 3em;
    min-width: 10em;
    color: #F5F6FA;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(0,80,157,1) 0%, rgba(0,119,190,1) 50%, rgba(9,155,176,1) 100%);
    border-radius: 10px;
    opacity: 1;
    font-family: 'Montserrat Semi-Bold';
    font-weight: 500;
    &:hover {
        border: 2px solid rgba(0,80,157,1); 
        color: black;
        font-size: 16px;
        background:white;
    }
}

input {
    width: 100%;
    border: 0;
    padding: 10px; 
  }


@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/polices/Montserrat/Montserrat-Regular.ttf');
}
  
  @font-face {
    font-family: 'Montserrat Semi-Bold';
    src: url('./assets/polices/Montserrat/Montserrat-SemiBold.ttf');
}

.header {

    display: flex;
    margin-bottom: -1em;

    img {
        max-width: 4em;
        max-height: 2em;
        margin-right: 1em;
    }
    .title {
        font-family: 'Montserrat Semi-Bold';
        font-size: 25px;
    }

}

.body {
    margin: 2em;
}

@media (min-width: 768px) {



    button {
        margin-top: 2em;
        font-family: 'Montserrat Semi-Bold';
        max-width: 20%;
    }
    


}