@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "variables.scss";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

body {
  background-color: #f5f6fa;
  font-family: "Montserrat", sans-serif;
  // background-image:url('assets/images/background.png')
}

#wrap-content {
  padding: 150px 20px 0 20px;
  transition: padding-left 0.3s;
  overflow: auto;

  &.opened {
    padding-left: 0;
  }

  @media screen and (max-width: 768px) {
    & {
      padding-left: 0;
    }
  }
}

h1 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.05em;
}
.lead {
  font-weight: 500;
  font-size: 16px;
  color: $light-grey;
}
a {
  color: $primary;

  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}
.cart {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 30px;
  box-shadow: 0 0 30px rgba(80, 80, 80, 0.07);

  .cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;

    .table-search {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .cart-content {

    tr {
      padding: 40px 0;
    }
    .table td,
    .table th {
      vertical-align: middle;
      border: none;
      padding-bottom: 20px;
      padding-top: 20px;

      button {
        margin: 0 7px;
      }
    }
    th {
      color: #c0c5d3;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
.item-image-profile {
  margin-left: 40px;
  margin-right: 0;
  //border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //background-color: #F5F6FA;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.item-name {
  text-transform: uppercase;
  font-size: 14px;

  .entity-id {
    color: #bdbec2;
    font-size: 13px;
    padding-left: 3px;
  }
}
.loader {
  height: 40px;
  margin: 0 20px;

  img {
    max-height: 100%;
  }
}

.switch {
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
  transform: scale(0.7);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0c2941;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0c2941;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125em;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle {
  margin-right: 30px;
}

* {
  font-family: 'Montserrat', sans-serif;
}
.title_logo {
  h1 {
      margin-left: 10px;
  }
  display: flex;
}
#component_form{

  h1 {
      color: $color_black;
      font-size:  30px;
  }



  h2{
      color: $color_black;
      font-size: 12px;
      font-weight: 300;

  }
  .content {
    background: white;
    border-radius: $content_border_radius;
    padding: $padding_content;
    width: 840px;
    height: 475px;
  }

}
.custom_button {
  background: $linear_color_button,$background_button_color;
  border-radius: $button_border_radius;
  border: none;
  font-weight: bold;
  padding: $padding_button;
  color:$background_color;
  font-size: $font_size_button;
  &:disabled{
    background: $light-grey;
  }
}