$primary: #3173B9;
$light-grey: #979797;
$color_black : #161615;
$content_border_radius: 20px;
$button_border_radius: 10px;
$padding_button: 8px 60px;
$font_size_button : 18px;
$background_color: #F5F6FA;
$error: #D9042B;
$background_button_color : rgb(0,80,157);
$linear_color_button: linear-gradient(90deg, rgba(0,80,157,1) 0%, rgba(0,119,190,1) 50%, rgba(9,155,176,1) 100%);
$padding_content: 50px 65px;
