<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{translator.getSentence('results-upper')}}</h1>
      <p class="lead">{{translator.getSentence('searched-word-upper')}} {{ searchCriteria }}</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('equipments-upper')}}</span>
        </div>
        <div class="cart-content">
          <p *ngIf="listeEquipement.length === 0" class="p-5 text-center">
            {{translator.getSentence('nothing-to-display')}}</p>
          <div class="equipment-item" *ngFor="let equipment of listeEquipement">
            <div class="data-side">
              <div class="item-name">{{ equipment.name }}</div>
            </div>
            <div class="action-side">
              <a href="equipments/{{ equipment.id }}" type="button"
                class="btn btn-primary btn-sm mr-2">{{translator.getSentence('see-upper')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('consumables-upper')}}</span>
        </div>
        <div class="cart-content">
          <p *ngIf="listeConsumable.length === 0" class="p-5 text-center">
            {{translator.getSentence('nothing-to-display')}}</p>
          <div class="consumable-item" *ngFor="let consumable of listeConsumable">
            <div class="data-side">
              <div class="item-name">{{ consumable.name }}</div>
            </div>
            <div class="action-side">
              <a href="consumables/{{ consumable.id }}" type="button"
                class="btn btn-primary btn-sm mr-2">{{translator.getSentence('see-upper')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="authService.isConnected()" class="col-12  col-md-6">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('entities-upper')}}</span>
          <div class="d-flex align-items-center">
          </div>
        </div>
        <div class="cart-content pr-4 pl-4">
          <p *ngIf="listeEntity.length === 0" class="p-5 text-center">{{translator.getSentence('nothing-to-display')}}
          </p>
          <table class="table" *ngIf="listeEntity.length > 0">
            <thead>
              <tr>
                <th width="20%" scope="col">{{translator.getSentence('reference-upper')}}</th>
                <th scope="col">{{translator.getSentence('enabled-upper')}}</th>
                <th scope="col">{{translator.getSentence('type-upper')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let element of listeEntity">
                <td class="text-info">{{element.reference}}</td>
                <td class="text-success" *ngIf="element.enabled == true">{{translator.getSentence('enabled-upper')}}
                </td>
                <td class="text-danger" *ngIf="element.enabled != true">{{translator.getSentence('disabled-upper')}}
                </td>
                <td class="text-success" *ngIf="element.available == true">
                  {{translator.getSentence('availability-upper')}}</td>
                <td class="text-danger" *ngIf="element.available != true">
                  {{translator.getSentence('unavailable-upper')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>