@import "../../variables.scss";

.lending-item, .equipment-item, .user-item, .consumable-item {
  padding: 10px 0;
  display: flex;
  align-items: center;

  .item-icon {
    font-size: 20px;
    color: $primary;
    margin-left: 15px;
    margin-right: 7px;
  }

  .item-image-profile {
    margin-left: 30px;
    padding: 5px;
    width: 50px;
    height: 50px;
  }

  .data-side {
    flex: 1;
    padding: 0 20px;
    line-height: 1.3;

    .user-name {
      font-size: 14px;
      color: #7b8a8b;
    }
    .lending-date {
      font-size: 12px;
    }
  }
  .action-side {
    padding-right: 30px;
  }
}

.user-item {
  .item-image-profile {
    margin: 10px 0 10px 30px;
  }

  .data-side {
    display: flex;

    * {
      flex: 1;
    }
  }
}
