#biggy_card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 10px;
    margin: 33px;
    height: 60vh;
    width: 300px;
    .comp_img{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    #compimg1{
        .cpimg {
            background-color: white;
            border: none;
        }
    }
    #compimg2{
        display: flex;
        align-items: center;
        .cpimg{
            background-color: white;
            border: none;
        }
    }
    .image {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35%;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    .color {
        text-align: center;
    }
    .name {
        color: #161615;
        font-size: 18px;
        font-weight: 500;
    }
    .red {
        color: red;
        font-size: 12px;
    }
    .green {
        color: green;
        font-size: 12px;
    }
    .orange {
        color: #ed6e26;
        font-size: 12px;
    }
    .emprunt {
        height: 5%;
        display: flex;
        justify-content: space-between;
        color: #161615;
        text-align: left;
        margin: 20px 0px;
        font-size: 14px;
    }
    .rendu {
        height: 5%;
        display: flex;
        justify-content: space-between;
        color: #161615;
        text-align: left;
        margin: 20px 0px;
        font-size: 14px;
    }
    .descriptif {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: auto;
        text-align: justify;
        margin: 20px 0px;
        font-size: 14px;
    }
}

            

