<div id="biggy_card">
    <div class="comp_img">
        <div id="compimg1">
            <button class="cpimg" (click)="updateLendingRequest(lending)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.691 34.686">
                    <g id="b" transform="translate(0 0)">
                        <g id="c" transform="translate(0 0)">
                            <path id="Tracé_1712" data-name="Tracé 1712"
                                d="M0,16.323c.088-.657.15-1.319.27-1.97A17.126,17.126,0,0,1,7.764,2.9,17.01,17.01,0,0,1,17.336,0a1.279,1.279,0,0,1,1.3,1.207,1.256,1.256,0,0,1-1.153,1.377c-.728.079-1.466.083-2.191.181a14.177,14.177,0,0,0-7.3,3.213A14.146,14.146,0,0,0,3.111,13.6,14.333,14.333,0,0,0,6.4,27.156a13.975,13.975,0,0,0,8.606,4.718A14.324,14.324,0,0,0,27,28.434a14.029,14.029,0,0,0,4.573-7.354,31.133,31.133,0,0,0,.483-3.238c.026-.189.009-.384.031-.575a1.279,1.279,0,0,1,1.388-1.223,1.3,1.3,0,0,1,1.214,1.369,15.573,15.573,0,0,1-.622,4.511A17.139,17.139,0,0,1,21.524,34.158a26.332,26.332,0,0,1-2.866.469c-.1.016-.2.039-.3.059H16.33a1.889,1.889,0,0,0-.261-.056A16.508,16.508,0,0,1,8.5,32.243,17.121,17.121,0,0,1,.27,20.324c-.121-.65-.182-1.312-.27-1.968V16.324Z"
                                transform="translate(0 0)" fill="#5fbf45" />
                            <path id="Tracé_1713" data-name="Tracé 1713"
                                d="M105.109,67.473a3.376,3.376,0,0,1,.284-.393q7.6-7.588,15.2-15.172a1.434,1.434,0,0,1,1.321-.523,1.294,1.294,0,0,1,.787,2.1,3.664,3.664,0,0,1-.278.3L106.163,70a1.363,1.363,0,0,1-2.26-.04q-3.156-3.426-6.31-6.854a1.316,1.316,0,0,1,.082-2.018,1.282,1.282,0,0,1,1.624.042,3.573,3.573,0,0,1,.311.311q2.629,2.853,5.255,5.707c.067.073.121.16.243.326Z"
                                transform="translate(-88.918 -47.005)" fill="#5fbf45" />
                        </g>
                    </g>
                </svg>
            </button>
        </div>
        <div id="compimg2" (click)="deleteLending(lending.id)">
            <button class="cpimg">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 21.414 21.414">
                    <g id="Groupe_617" data-name="Groupe 617" transform="translate(-721.793 -346.793)">
                        <path id="Ligne_92" data-name="Ligne 92" d="M19.293,20.707l-20-20L.707-.707l20,20Z"
                            transform="translate(722.5 347.5)" fill="#d9042b" />
                        <path id="Ligne_93" data-name="Ligne 93" d="M.707,20.707-.707,19.293l20-20L20.707.707Z"
                            transform="translate(722.5 347.5)" fill="#d9042b" />
                    </g>
                </svg>
            </button>
        </div>
    </div>
    <div class="image">
        <img *ngIf="lending.entity" src="{{restBaseUri + lending.entity.equipment.image.contentUrl}}">
        <img *ngIf="lending.consumable" src="{{restBaseUri + lending.consumable.image.contentUrl}}">
    </div>
    <div class="color">
        <span class="red" *ngIf="!lending.accepted">({{translator.getSentence('pending-upper')}})</span>
        <span class="green" *ngIf="lending.returned">({{translator.getSentence('returned-upper')}})</span>
        <span class="orange"
            *ngIf="lending.accepted && !lending.returned">({{translator.getSentence('in-progress')}})</span>
    </div>
    <div class="namestate">
        <p class="name">
            <span *ngIf="lending.entity">{{lending.entity.equipment.name}}</span>
            <span *ngIf="lending.consumable">{{lending.consumable.name}}</span>
        </p>
    </div>

    <div class="emprunt">
        <p class="date">
            {{lending.lendingDatetime | date:'short'}}
        </p>
        <p class="nom">
            {{lending.userLending.lastName.toUpperCase()}} {{lending.userLending.firstName.substr(0,1).toUpperCase()}}.
        </p>
    </div>
    <div class="rendu">
        <p class="date">
            {{lending.returnDatetime | date:'short'}}
        </p>
        <p class="nom" *ngIf="lending.userReturn">
            {{lending.userReturn.lastName.toUpperCase()}} {{lending.userReturn.firstName.substr(0,1).toUpperCase()}}.
        </p>
        <p class="nom" *ngIf="!lending.userReturn">
            {{translator.getSentence('not-defined')}}
        </p>
    </div>
    <div class="descriptif">
        <p>{{text | slice:0:150 + "..."}} </p>

    </div>
</div>