<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Confirmer</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{translator.getSentence('are-you-sure-change-role')}} {{ user.lastName }}</p>
  <div class="modal-footer">
    <div class="float-right">
      <button class="btn btn-primary" (click)="activeModal.close(false)">
        {{translator.getSentence('no-upper')}}
      </button>
      <button class="btn btn-success ml-2" (click)="activeModal.close(true)">
        {{translator.getSentence('yes-upper')}}
      </button>
    </div>
  </div>
</div>