<div [ngClass]="{ 'container-fluid': !param }">
  <div class="row">
    <div class="col-12" *ngIf="!param">
      <h1>{{translator.getSentence('stock-places')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{translator.getSentence('home-upper')}}</a></li>
        <li class="breadcrumb-item active">{{translator.getSentence('stock-places')}}</li>
      </ol>
    </div>

    <div class="col-12" *ngIf="this.auth.isAdmin()">
      <div class="cart">
        <div class="cart-title">
          <span>{{translator.getSentence('stock-places-list')}}</span>
          <div class="d-flex align-items-center">
            <a *ngIf="!param" href="stock-place/add" class="btn btn-success">{{translator.getSentence('add-upper')}}</a>
          </div>
        </div>
        <div class="cart-content">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{translator.getSentence('name-upper')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of elements">
                <td class="text-info">{{element.name}}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-primary" routerLink="{{element.id}}"
                    *ngIf="!param">{{translator.getSentence('see-upper')}}</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="onDeleteClick(element)"
                    *ngIf="!param">{{translator.getSentence('delete-upper')}}</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end pr-5 pb-3">
            <div class="btn-group" role="group" aria-label="First group">
              <button *ngFor="let n of pages" class="btn btn-sm btn-secondary {{ (n+1) === page ? 'active' : '' }}"
                (click)="updatePage(n+1)">{{ n+1 }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>